<script setup>
import {Link} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";
import { defineProps, defineEmits } from 'vue';

const props = defineProps({
    tracker: {
        type: Object,
        required: true
    }
});

const emits = defineEmits(['success']);

const tracker = props.tracker
const tracker_id = tracker.tracker.id

const role = ref({})


const getRole = async () => {

    try {
        const response = await fetch(`/trackers/${tracker_id}/get-role`)
        if (response.ok){
            const data = await response.json()
            role.value = data
        }
    } catch (e){
        console.error('fetch error')
    }

}


onMounted(getRole)


const leaveTracker = async (id) => {
    try {
        const response = await fetch(`/platform/trackers/${id}/leave`, {
            method: 'DELETE'
        })

        if (response.ok){
            const data = await response.json()
            console.log(data);
            emits('success');
        }
    }catch (e){
        console.error('fetch error')
    }
}

const dropTracker = async (tracker_id) => {
    try {
        const response = await fetch(`/platform/trackers/${tracker_id}`, {
            method: 'DELETE'
        })

        if (response.ok){
            const data = await response.json()
            emits('success');
        }

    }catch (e){
        console.error('fetch error')
    }
}
</script>
<template>
    <div class="w-full flex justify-between items-center">
        <div class="w-full flex cursor-pointer">
            <div class="w-16 h-16 rounded-xl bg-green-300 flex items-center justify-center text-3xl border-2 border-gray-200">
                <div>{{tracker.tracker.title.slice(0,1).toUpperCase()}}</div>
            </div>
            <div class="flex items-center ml-4">
                <div class="text-xl">
                    <Link :href="route('tracker', { tracker: tracker.tracker.id })">
                        {{tracker.tracker.title}}
                    </Link>
                </div>
                <div class="flex items-center ml-2">
                    <div v-if="tracker.role.role === 'owner'" class="w-8">
                        <img src="../../../../../../public/img/icon/crown.svg" alt="crown-icon">
                    </div>
                    <div v-else-if="tracker.role.role === 'member' || tracker.role.role === 'reviewer'" class="w-6">
                        <img src="../../../../../../public/img/icon/member.svg" alt="member-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col mt-8 w-auto">

            <div class="flex justify-center items-center space-x-4 ml-auto">
                <template v-if="parseInt(role.role_id) === 3">
                    <button
                        @click.prevent="dropTracker(tracker.tracker.id)"
                        class="flex items-center justify-center px-4 py-2 border border-gray-400 rounded hover:bg-gray-100 transition-colors duration-300 ease-in-out">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M9 21h6a1 1 0 0 0 1-1v-2a2 2 0 0 0-2-2H10a2 2 0 0 0-2 2v2a1 1 0 0 0 1 1z"></path>
                            <polyline points="9 7 9 13 15 13 15 7"></polyline>
                            <line x1="9" y1="7" x2="15" y2="7"></line>
                        </svg>
                        Drop
                    </button>
                </template>
                <template v-else>
                    <button
                        @click.prevent="leaveTracker(tracker.id)"
                        class="flex items-center justify-center px-4 py-2 border border-gray-400 rounded hover:bg-gray-100 transition-colors duration-300 ease-in-out">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 3h5l1 5H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V10a1 1 0 0 0-1-1h-6l-1-5H3a1 1 0 0 0-1 1v10z"></path>
                        </svg>
                        Leave
                    </button>
                </template>
            </div>

            <div class="w-full text-sm opacity-75 mt-1 text-right ml-3">
                Tracker started {{tracker.tracker.started}}
            </div>
        </div>


    </div>
</template>
