<script setup>
import {Link} from "@inertiajs/vue3";
</script>

<template>
    <Link :href="route('platform.trackers.create')">
        <button class="flex items-center gap-2 bg-indigo-500 text-white font-sans py-2 px-4 rounded-lg hover:bg-indigo-600">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M11 9V4a1 1 0 0 0-2 0v5H4a1 1 0 0 0 0 2h5v5a1 1 0 0 0 2 0v-5h5a1 1 0 0 0 0-2h-5z" clip-rule="evenodd" />
            </svg>
            <span>New Tracker</span>
        </button>
    </Link>
</template>

<style scoped>

</style>
