<script setup>
import {defineEmits, defineProps, ref} from "vue";

// const selectedItem = ref('All');
//
// const emits = defineEmits(['select-element']);
//
// function selectElement(element) {
//     selectedItem.value = element;
//     emits('select-element', element);
// }

const props = defineProps({
    selectedItem: {
        type: String,
        default: null
    }
});

const emits = defineEmits(['update-content']);

function selectItem(element) {
    emits('update-content', element);
}
</script>


<template>
    <div>
        <ul class="flex text-2xl space-x-8">
            <li
                @click.prevent="selectItem('All')"
                class="mr-4">
                <a href="#"
                   :class="{'pb-1 border-b-2 border-transparent hover:border-indigo-500 transition-colors duration-200 ease-in-out': selectedItem !== 'All', 'pb-1 border-b-2 border-indigo-500': selectedItem === 'All' }"
                   @click="selectedItem = 'All'">All</a>
            </li>
            <li
                @click.prevent="selectItem('Member')"
                class="mr-4">
                <a href="#"
                   :class="{'pb-1 border-b-2 border-transparent hover:border-indigo-500 transition-colors duration-200 ease-in-out': selectedItem !== 'Member', 'pb-1 border-b-2 border-indigo-500': selectedItem === 'Member' }"
                   @click="selectedItem = 'Member'">Member</a>
            </li>
            <li @click.prevent="selectItem('Owner')">
                <a href="#"
                   :class="{'pb-1 border-b-2 border-transparent hover:border-indigo-500 transition-colors duration-200 ease-in-out': selectedItem !== 'Owner', 'pb-1 border-b-2 border-indigo-500': selectedItem === 'Owner' }"
                   @click="selectedItem = 'Owner'">Owner</a>
            </li>
        </ul>
    </div>
</template>

