<script setup>

</script>

<template>
    <div class="w-full h-screen">
        <div class="w-full h-16 p-4 border-b-2 border-gray-200 flex items-center justify-start">
            <div class="text-gray-700">Help ></div>
        </div>

        <div class="p-12 text-3xl font-mono">Contact: <span class="font-medium">Tg - @bpv0643</span></div>
    </div>
</template>

<style scoped>

</style>
