<script setup>

import ProfileMain from "@/Pages/Platform/Panel/ProfileComponents/ProfileMain.vue";
import ProfileContent from "@/Pages/Platform/Panel/ProfileComponents/ProfileContent.vue";

</script>

<template>
    <div class="w-full h-full">

        <div class="w-full h-16 p-4 border-b-2 border-gray-200 flex items-center justify-start">
            <div class="text-gray-700">Your Profile ></div>

        </div>

        <div class="mt-10 w-full h-48 bg-gray-50 border-t-2 border-b-2 border-gray-200 p-8 flex items-center justify-center">
            <div><ProfileMain /></div>
        </div>

        <div class="w-full h-full">
            <ProfileContent />
        </div>

    </div>
</template>
