<script setup>
import FilterSection from "@/Pages/Platform/Panel/TrackersComponents/FilterSection.vue";
import ButtonNewTracker from "@/Pages/Platform/Panel/TrackersComponents/ButtonNewTracker.vue";
import {onMounted, ref} from 'vue';
import All from "@/Pages/Platform/Panel/TrackersComponents/All.vue";
import Member from "@/Pages/Platform/Panel/TrackersComponents/Member.vue";
import Owner from "@/Pages/Platform/Panel/TrackersComponents/Owner.vue";

const allTrackers = ref([]);
const memberTrackers = ref([])
const ownerTrackers = ref([])

const selectedItem = ref('All');

function updateContent(element) {
    selectedItem.value = element;

}

console.log(selectedItem.value);


const getAll = async () => {
    try {
        const response = await fetch('/platform/trackers/all');
        if (response.ok) {
            const data = await response.json();
            allTrackers.value = data.data;
            console.log('all tracker');
            console.log(data);
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }
}

const getWhereMember = async () => {

    try {
        const response = await fetch('/platform/trackers/member');
        if (response.ok) {
            const data = await response.json();
            memberTrackers.value = data.data;
            console.log(data);
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }
}

const getWhereOwner = async () => {
    try {
        const response = await fetch('/platform/trackers/owner');
        if (response.ok) {
            const data = await response.json();
            ownerTrackers.value = data.data;
            console.log(data);
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }
}

const handleSuccess = () => {
    getAll();
    getWhereMember();
    getWhereOwner();
};

onMounted(
    getAll(), getWhereMember(), getWhereOwner()
)
</script>

<template>
    <div class="w-full min-h-screen">
        <div class="w-full h-16 p-4 border-b-2 border-gray-200 flex items-center justify-start">
            <div class="text-gray-700">Your Trackers ></div>
        </div>
        <div class="container px-52 mt-8 flex justify-between border-b-2 border-gray-200 mx-auto pb-8">
            <div class="text-4xl font-medium">Trackers</div>

            <div class="flex space-x-6">

            </div>
        </div>

        <div class="container px-52 mx-auto mt-8 flex justify-between border-b-2 border-gray-200 pb-8">

            <div>
                <FilterSection :selectedItem="selectedItem" @update-content="updateContent"/>
            </div>

            <div>
                <ButtonNewTracker/>
            </div>

        </div>

        <div class="container px-52 mt-3 w-full mx-auto flex flex-col justify-between ">

            <div
                v-show="allTrackers.length === 0"
                class="w-full text-gray-800 text-3xl mt-8">
                You are not yet a member of any tracker
            </div>


            <div v-for="allTracker in allTrackers">
                <div
                    v-if="selectedItem === 'All'"
                    class="w-full h-24 flex mt-3 border-t-2 border-gray-200">
                    <All :tracker="allTracker" @success="handleSuccess"/>
                </div>
            </div>

            <div v-for="memberTracker in memberTrackers">
                <div
                    v-if="selectedItem === 'Member'"
                    class="w-full h-24 flex mt-3 border-t-2 border-gray-200">
                    <Member :tracker="memberTracker" @success="handleSuccess"/>
                </div>
            </div>

            <div v-for="ownerTracker in ownerTrackers">
                <div
                    v-if="selectedItem === 'Owner'"
                    class="w-full h-24 flex mt-3 border-t-2 border-gray-200">
                    <Owner :tracker="ownerTracker" @success="handleSuccess"/>
                </div>
            </div>
        </div>
    </div>
</template>

