<script setup>

</script>

<template>
    <div class="w-full h-16 p-4 border-b-2 border-gray-200 flex items-center justify-start">
        <div class="text-gray-700">Team ></div>
    </div>
</template>

<style scoped>

</style>
