<script setup>
import {ref, computed, onMounted} from 'vue';
import {usePage} from "@inertiajs/vue3";

const {props} = usePage();
const tracker_id = props.tracker_id

const members = ref([]);
const authUser = ref({})

async function fetchData() {
    try {
        const response = await fetch(`/trackers/${tracker_id}/team/members`);
        if (response.ok) {
            const data = await response.json();
            members.value = data.data;
            console.log(data.data);
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }
}

const getUser = async () => {
    try {
        const response = await fetch('/get-user')

        if (response.ok){
            const data = await response.json()
            authUser.value = data.data
        }

    }catch (e){
        console.error('fetch error')
    }
}


const searchQuery = ref('');
const user_id = ref(null)
const showError = ref(false)

members.value.forEach(el => {
    console.log(el);
})

const filteredMembers = computed(() => {
    return members.value.filter((member) =>
        member.user.name.toLowerCase().includes(searchQuery.value.toLowerCase())
    );
});

const removeMember = async (user_id) => {
    try {
        const response = await fetch(`/trackers/${tracker_id}/users/${user_id}`, {
            method: 'DELETE'
        })

        if (response.ok) {
            const data = await response.json()
            fetchData()
            console.log(data);
        }
    } catch (e) {
        console.error('fetch error')
    }
}

async function addMember(user) {
    if (user === null) {
        showError.value = true
    }
    try {
        const response = await fetch(`/trackers/${tracker_id}/users/${user}`, {
            method: 'POST'
        });
        if (response.ok) {
            const data = await response.json();
            fetchData()
            console.log(data);
            user_id.value = null
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }
}

const role = ref({})

const getRole = async () => {
    try {
        const response = await fetch(`/trackers/${tracker_id}/get-role`)
        if (response.ok) {
            const data = await response.json()
            role.value = data
        }
    } catch (e) {
        console.error('fetch error')
    }

}

onMounted(
    fetchData(),
    getRole(),
    getUser()
)

</script>

<template>
    <div class="max-w-4xl mx-auto p-8 bg-white rounded-lg shadow-lg">
        <div class="flex items-center space-x-4 mb-8">
            <input v-model="searchQuery" type="text" class="flex-grow p-2 border border-gray-300 rounded"
                   placeholder="Search by name">
        </div>

        <div class="overflow-y-auto max-h-[600px]">
            <div v-for="member in filteredMembers" :key="member.id"
                 class="flex items-center justify-between p-4 border-b border-gray-300">

                <div
                    v-if="member.user.avatar === null"
                    class="flex items-center space-x-6">
                    <img src="../../../../../public/img/avatar/default.svg" alt="Avatar" class="w-14 h-14 rounded-full">
                    <div>

                        <p class="text-xl font-medium">{{ member.user.name }}</p>
                        <p class="text-sm text-gray-500">{{ member.user.email }}</p>
                    </div>
                </div>

                <div
                    v-if="member.user.avatar"
                    class="flex items-center space-x-6">
                    <img :src="'/img/avatar/'+member.user.avatar.avatar" alt="Avatar" class="w-14 h-14 rounded-full">
                    <div>

                        <p class="text-xl font-medium">{{ member.user.name }}</p>
                        <p class="text-sm text-gray-500">{{ member.user.email }}</p>
                    </div>
                </div>


                <div
                    v-if="parseInt(role.role_id) === 3"
                    class="flex items-center space-x-4">
                    <p class="text-sm text-gray-500">Role: {{ member.role.role }}</p>
                    <p v-if="authUser.id === member.user.id">You</p>
                    <button
                            v-else
                            class="p-1 text-gray-500 hover:text-red-500" @click="removeMember(member.user.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10 8.586L15.879 2.707a1 1 0 1 1 1.414 1.414L11.414 10l5.879 5.879a1 1 0 1 1-1.414 1.414L10 11.414l-5.879 5.879a1 1 0 1 1-1.414-1.414L8.586 10 2.707 4.121A1 1 0 1 1 4.121 2.707L10 8.586z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="flex flex-col justify-between mt-8">
            <div v-show="parseInt(role.role_id) === 3" class="flex items-center justify-between mt-4">
                <div class="w-full">
                    <input v-model="user_id" class="border-b border-gray-300 pb-2" placeholder="Enter user ID">
                    <div v-if="showError" class="text-sm text-red-500 mt-2">ID must not be empty</div>
                </div>
                <div>
                    <button @click.prevent="addMember(user_id)" class="px-6 py-2 text-white bg-blue-500 rounded">Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
button {
    outline: none;
}

input[type="text"]::-webkit-input-placeholder {
    color: #A0AEC0;
}

input[type="text"]::-moz-placeholder {
    color: #A0AEC0;
}

input[type="text"]:-ms-input-placeholder {
    color: #A0AEC0;
}

input[type="text"]::placeholder {
    color: #A0AEC0;
}

.overflow-y-auto::-webkit-scrollbar {
    width: 4px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
</style>
