<script setup>
import {Link, usePage} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";

const {props} = usePage();
const tracker_id = props.tracker_id;

const tasksCompleted = ref([])
const getTasksCompleted = async () => {
    try {
        const response = await fetch(`/trackers/${tracker_id}/tasks/get/completed`)

        if (response.ok) {
            const data = await response.json()
            tasksCompleted.value = data.data
            console.log(data);
        }

    } catch (e) {
        console.error('fetch error')
    }
}

onMounted(getTasksCompleted)
</script>

<template>
    <div>
        <div class="w-full">
            <div v-if="tasksCompleted.length === 0"
                 class="text-2xl font-mono text-gray-800">
                You have not completed any tasks yet
            </div>
            <template v-else>
                <div
                    v-for="task in tasksCompleted"
                    class="w-full h-20 bg-white shadow shadow-gray-400 border border-gray-200 mb-12">
                    <div class="grid grid-cols-5 w-full h-full text-xl font-medium place-items-center">

                        <div class="w-full h-full flex items-center justify-center">
                            <div>
                                @{{ task.id }}
                            </div>
                        </div>

                        <div class="w-full h-full flex items-center justify-center">
                            <div>
                                {{ task.title }}
                            </div>
                        </div>
                        <div class="w-full h-full flex items-center justify-center px-20">
                            <div>
                                {{ task.short_description }}
                            </div>
                        </div>

                        <div class="w-full h-full flex items-center justify-center bg-gray-100">
                            <img
                                v-if="task.priority.name === 'Low'"
                                class="w-10" src="../../../../../public/img/icon/low_priority.svg">
                            <img
                                v-if="task.priority.name === 'Middle'"
                                class="w-10" src="../../../../../public/img/icon/middle_priority.svg">
                            <img
                                v-if="task.priority.name === 'High'"
                                class="w-10" src="../../../../../public/img/icon/high_priority.svg">

                        </div>

                        <div class="w-full h-full flex items-center justify-center">
                            <div>
                                <Link :href="`/trackers/${tracker_id}/tasks/${task.id}`">
                                <button class="h-10 w-24 rounded-2xl p-2 text-white bg-teal-700">More</button>
                                </Link>
                            </div>
                        </div>

                    </div>
                </div>
            </template>

        </div>
    </div>
</template>
