<script setup>
import {onMounted, ref} from 'vue';
import {usePage} from '@inertiajs/vue3';
import Task from '@/Pages/Tracker/Task.vue';

const {props} = usePage();
const tracker_id = props.tracker_id;

const tasks = ref([]);
const frozenTasks = ref([]);
const plannedTasks = ref([]);
const inProgressTasks = ref([]);
const inReviewTasks = ref([]);

async function fetchData() {
    try {
        const response = await fetch(`/trackers/${tracker_id}/tasks`);
        if (response.ok) {
            const data = await response.json();
            tasks.value = data.data;
            updateTaskLists();
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }
}

function updateTaskLists() {
    frozenTasks.value = tasks.value.filter((task) => task.status.name === 'frozen');
    plannedTasks.value = tasks.value.filter((task) => task.status.name === 'planned');
    inProgressTasks.value = tasks.value.filter((task) => task.status.name === 'in progress');
    inReviewTasks.value = tasks.value.filter((task) => task.status.name === 'in review');
}

onMounted(fetchData);

function refreshData() {
    fetchData();
}

</script>

<template>
    <div class="w-[81em] flex justify-center">
        <div class="grid grid-cols-3 gap-8">

            <div class="w-96 min-h-[20em] bg-gray-200 px-4 py-2">
                <div class="w-full h-[3em] bg-red-600 rounded-xl flex items-center justify-start px-6">
                    <div class="text-white text-2xl font-semibold">Untracked</div>
                </div>
                <div class="w-full h-full flex items-start justify-center mt-8">
                    <div class="text-2xl opacity-75 w-3/4 font-medium">
                        if the task falls into the untracked zone, then the task is no longer assigned to you and is
                        available to all tracker members
                    </div>
                </div>
            </div>


            <div class="w-96 min-h-[20em] bg-gray-200 px-4 py-2">
                <div class="w-full h-[3em] bg-blue-800 rounded-xl flex items-center justify-between px-6 space-x-4">
                    <div class="text-white text-2xl font-semibold">Frozen</div>
                    <div class="w-12 h-8 shadow-2xl shadow-black rounded-xl bg-blue-400 bg-opacity-50 flex items-center justify-center">
                        <div class="font-semibold text-xl text-white">{{frozenTasks.length}}</div>
                    </div>

                </div>
                <div
                    v-if="frozenTasks.length === 0"
                    class="flex items-center justify-center">
                    <div class="text-2xl opacity-75 mt-8">no tasks in this area</div>
                </div>
                <div
                    v-if="frozenTasks.length > 0"
                    class="p-4">
                    <div v-for="task in frozenTasks" class="p-4">

                        <Task
                            :tracker_id="tracker_id"
                            :task="task"
                            :updateData="refreshData"
                            @update-content="updateContent"
                        />

                    </div>
                </div>
            </div>

            <div class="w-96 min-h-[20em] bg-gray-200 px-4 py-2">
                <div class="w-full h-[3em] bg-teal-800 rounded-xl flex items-center justify-between px-6 space-x-4">
                    <div class="text-white text-2xl font-semibold">Planned</div>
                    <div class="w-12 h-8 shadow-2xl shadow-black rounded-xl bg-teal-400 bg-opacity-50 flex items-center justify-center">
                        <div class="font-semibold text-xl text-white">{{plannedTasks.length}}</div>
                    </div>
                </div>
                <div
                    v-if="plannedTasks.length === 0"
                    class="flex items-center justify-center">
                    <div class="text-2xl opacity-75 mt-8">no tasks in this area</div>
                </div>
                <div
                    v-if="plannedTasks.length > 0"
                    class="p-4">
                    <div v-for="task in plannedTasks" class="p-4">

                        <Task
                            :tracker_id="tracker_id"
                            :task="task"
                            :updateData="refreshData"
                            @update-content="updateContent"
                        />

                    </div>
                </div>
            </div>

            <div class="w-96 min-h-[20em] bg-gray-200 px-4 py-2">
                <div class="w-full h-[3em] bg-indigo-600 rounded-xl flex items-center justify-between px-6 space-x-4">
                    <div class="text-white text-2xl font-semibold">In Progress</div>
                    <div class="w-12 h-8 shadow-2xl shadow-black rounded-xl bg-indigo-300 bg-opacity-50 flex items-center justify-center">
                        <div class="font-semibold text-xl text-white">{{inProgressTasks.length}}</div>
                    </div>
                </div>
                <div
                    v-if="inProgressTasks.length === 0"
                    class="flex items-center justify-center">
                    <div class="text-2xl opacity-75 mt-8">no tasks in this area</div>
                </div>
                <div
                    v-if="inProgressTasks.length > 0"
                    class="p-4">
                    <div v-for="task in inProgressTasks" class="p-4">

                        <Task
                            :tracker_id="tracker_id"
                            :task="task"
                            :updateData="refreshData"
                            @update-content="updateContent"
                        />

                    </div>
                </div>
            </div>

            <div class="w-96 min-h-[20em] bg-gray-200 px-4 py-2">
                <div class="w-full h-[3em] bg-orange-600 rounded-xl flex items-center justify-between px-6 space-x-4">
                    <div class="text-white text-2xl font-semibold">In Review</div>
                    <div class="w-12 h-8 shadow-2xl shadow-black rounded-xl bg-orange-300 bg-opacity-50 flex items-center justify-center">
                        <div class="font-semibold text-xl text-white">{{inReviewTasks.length}}</div>
                    </div>
                </div>
                <div
                    v-if="inReviewTasks.length === 0"
                    class="flex items-center justify-center">
                    <div class="text-2xl opacity-75 mt-8">no tasks in this area</div>
                </div>
                <div
                    v-if="inReviewTasks.length > 0"
                    class="p-4">
                    <div v-for="task in inReviewTasks" class="p-4">

                        <Task
                            :tracker_id="tracker_id"
                            :task="task"
                            :updateData="refreshData"
                            @update-content="updateContent"
                        />

                    </div>
                </div>
            </div>

            <div class="w-96 min-h-[20em] bg-gray-200 px-4 py-2">
                <div class="w-full h-[3em] bg-green-700 rounded-xl flex items-center justify-between px-6 space-x-4">
                    <div class="text-white text-2xl font-semibold">Completed</div>
                </div>
                <div class="w-full h-full flex items-start justify-center mt-8">
                    <div class="text-2xl opacity-75 w-3/4 font-medium">
                        if the task falls into the completed zone, then the task is considered completed and is located
                        in the corresponding section
                    </div>
                </div>
                <div>

                </div>
            </div>

        </div>
    </div>


</template>

