<script setup>
import { ref } from 'vue';
import Conversion from "@/Pages/Tracker/WorkspaceComponents/Conversion.vue";
import Completed from "@/Pages/Tracker/WorkspaceComponents/Completed.vue";
import {usePage} from "@inertiajs/vue3";

const { props } = usePage();
const tracker_id = props.tracker_id

const selectedMenu = ref('Conversion');

const selectMenu = (menu) => {
    selectedMenu.value = menu;
};
</script>

<template>
    <div class="w-full h-full grid grid-cols space-y-10">
        <div class="col-span-2 flex items-center justify-start text-2xl uppercase font-semibold space-x-8 border-b-2 border-gray-200 pb-6">
            <div
                class="cursor-pointer menu-item opacity-75"
                :class="{
                    'border-b-2 border-green-700': selectedMenu === 'Conversion',
                    'text-gray-600 hover:text-gray-800': selectedMenu !== 'Conversion'
                }"
                @click="selectMenu('Conversion')"
            >
                Conversion
            </div>
            <div
                class="cursor-pointer menu-item opacity-75"
                :class="{
                    'border-b-2 border-green-700': selectedMenu === 'Completed',
                    'text-gray-600 hover:text-gray-800': selectedMenu !== 'Completed'
                }"
                @click="selectMenu('Completed')"
            >
                Completed
            </div>
        </div>
        <div class="w-full h-full flex items-center">
            <div v-if="selectedMenu === 'Conversion'">
                <Conversion :tracker_id="tracker_id"/>
            </div>
            <div v-else-if="selectedMenu === 'Completed'" class="w-full">
                <Completed :tracker_id="tracker_id"/>
            </div>
        </div>
    </div>
</template>
