<script setup>
import {defineProps, defineEmits} from 'vue';
import {Link} from "@inertiajs/vue3";

const props = defineProps(['task', 'tracker_id', 'showNotification', 'updateData']);
const emits = defineEmits(['take', 'update-content']);

async function take(task) {
    const url = `/trackers/tasks/${task}/take`;

    try {
        const response = await fetch(url, {
            method: 'PATCH',
        });

        if (response.ok) {
            const data = await response.json();
            emits('take');
            emits('update-content', data.message);
            props.updateData();
            console.log('Response:', data);
        } else {
            console.error('Error:', response.status);
        }

    } catch (error) {
        console.error('Error:', error);
    }
}
</script>

<template>
    <div class="w-[80em] h-[4em] border-b-2 border-gray-200 bg-white flex items-center justify-start pl-3">
        <div class="flex items-center justify-start space-x-3 cursor-pointer h-[3em] pr-6 border-r-2 border-gray-200">
            <Link :href="`/trackers/${tracker_id}/tasks/${task.id}`">
                <div class="text-xl font-semibold hover:border-b-2 hover:border-blue-600 text-gray-800">
                    {{ task.title }}
                </div>
            </Link>
        </div>
        <div
            class="grid grid-cols-3 items-center justify-start ml-10 space-x-2 h-[3em] border-r-2 border-gray-200 pr-3">
            <div>{{ task.short_description }}</div>
        </div>

        <div class="flex items-center justify-end w-full">
            <div class="w-[12em] h-[4em] px-4 text-center border-r-2 border-gray-200 flex items-center justify-center">
                <div class="text-black text-l">
                    <div
                        @click="take(task.id)"
                        class="font-medium cursor-pointer text-xl w-20 h-12 bg-white border-b-2 border-gray-200 hover:bg-gray-100 flex items-center justify-center">
                        <img class="w-10" src="../../../../../../public/img/icon/get.svg">
                    </div>
                </div>
            </div>
            <div class="w-[9em] h-[4em] px-4 text-center border-r-2 border-gray-200 flex items-center justify-center">
                <div>
                    <img
                        v-if="task.priority.name === 'Low'"
                        class="w-10" src="../../../../../../public/img/icon/low_priority.svg">
                    <img
                        v-if="task.priority.name === 'Middle'"
                        class="w-10" src="../../../../../../public/img/icon/middle_priority.svg">
                    <img
                        v-if="task.priority.name === 'High'"
                        class="w-10" src="../../../../../../public/img/icon/high_priority.svg">
                </div>
            </div>
            <div class="w-[13em] h-[4em] px-4 text-center bg-green-200">
                <div class="text-black text-l">
                    <div class="font-medium cursor-pointer text-xl">
                        <div class="flex items-center justify-center py-4 space-x-2">
                            <div><img class="w-8" src="../../../../../../public/img/icon/eye.svg"></div>
                            <div>{{ task.views_count }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-[13em] h-[4em] text-center bg-indigo-200 border-r-2 border-gray-200">
                <div class="text-black text-l">
                    <div class="font-medium cursor-pointer text-xl">
                        <div class="flex items-center justify-center py-4 space-x-2">
                            <div><img class="w-6" src="../../../../../../public/img/icon/clock.svg"></div>
                            <div>{{ task.due_time_for_user }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</template>

