<script setup>

</script>

<template>
    <div class="w-full h-screen bg-gray-100 flex items-center justify-center space-x-3">
        <div>
            <div><img class="w-12" src="../../../public/img/icon/lock.svg"></div>
        </div>

        <div class="text-4xl text-gray-800 font-medium">You don't have access</div>

    </div>
</template>

<style scoped>

</style>
