<script setup>
import { Head, Link } from '@inertiajs/vue3';
import Header from "@/Pages/WelcomeComponents/Header/Header.vue";
import Content from "@/Pages/WelcomeComponents/Content/Content.vue";

defineProps({
    canLogin: {
        type: Boolean,
    },
    canRegister: {
        type: Boolean,
    },
    laravelVersion: {
        type: String,
        required: true,
    },
    phpVersion: {
        type: String,
        required: true,
    },
});
</script>

<template>

    <div class="bg-gray-200 font-sans flex flex-col items-center min-h-screen">
        <Header></Header>
        <Content></Content>
    </div>

</template>

<style>

</style>
