<script setup>
import {useForm} from "@inertiajs/vue3";
import {Link} from "@inertiajs/vue3";

const form = useForm({
    title: '',
    description: '',
    user_id: 1
})

const submit = () => {
    form.post(route('platform.trackers.store'), {
        onFinish: () => form.reset('title', 'description', 'user_id'),
    });
};
</script>


<template>
    <div class="w-full h-screen flex items-center justify-center bg-gray-100">
        <div class="w-96 bg-white border-2 border-teal-700 p-10 rounded-lg shadow-xl">
            <div class="flex items-center justify-between mb-10">
                <Link href="/platform">
                    <div class="w-12 h-12 bg-teal-700 rounded-full flex items-center justify-center hover:bg-teal-800">
                        <img class="w-6" src="../../../../../../public/img/icon/back3.svg">
                    </div>
                </Link>
                <div class="text-2xl font-semibold">Create Tracker</div>
                <div class="w-12 h-12"></div>
            </div>
            <div>
                <div class="text-lg font-semibold mb-2">Tracker Name</div>
                <input v-model="form.title" class="w-full h-12 px-4 py-2 border-2 border-teal-700 rounded-md shadow-sm focus:outline-none focus:border-teal-900" placeholder="Tracker name..." />
            </div>
            <div class="mt-6">
                <div class="text-lg font-semibold mb-2">About Project</div>
                <textarea v-model="form.description" class="w-full h-24 px-4 py-2 border-2 border-teal-700 rounded-md shadow-sm focus:outline-none focus:border-teal-900" placeholder="Project description..." ></textarea>
            </div>
            <div class="mt-6">
                <button @click.prevent="submit" class="w-full h-12 bg-teal-700 text-white rounded-md shadow-sm hover:bg-teal-800">Create Tracker</button>
            </div>
        </div>
    </div>
</template>

