<script setup>
import { ref, defineEmits } from 'vue';

const selectedElement = ref('Trackers');

const emits = defineEmits(['select-element']);

function selectElement(element) {
    selectedElement.value = element;
    emits('select-element', element);
}
</script>

<template>
    <div class="w-full min-h-screen bg-white p-2">
        <div class="mt-6 flex flex-col space-y-2 text-xl">
            <div
                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"
                :class="{ 'bg-gray-100': selectedElement === 'Trackers', 'border-l-4 border-orange-500': selectedElement === 'Trackers' }"
                @click="selectElement('Trackers')"
            >
                <div>
                    <img class="w-6" src="../../../../../public/img/icon/tracker.svg">
                </div>
                <div class="ml-2">Trackers</div>
            </div>

            <div
                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"
                :class="{ 'bg-gray-100': selectedElement === 'Profile', 'border-l-4 border-orange-500': selectedElement === 'Profile' }"
                @click="selectElement('Profile')"
            >
                <div>
                    <img class="w-6" src="../../../../../public/img/icon/profile.svg">
                </div>
                <div class="ml-2">Profile</div>
            </div>


            <div
                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"
                :class="{ 'bg-gray-100': selectedElement === 'Help', 'border-l-4 border-orange-500': selectedElement === 'Help' }"
                @click="selectElement('Help')"
            >
                <div>
                    <img class="w-6" src="../../../../../public/img/icon/question.svg">
                </div>
                <div class="ml-2">Help</div>
            </div>
        </div>
    </div>
</template>
