<script setup>
import ApplicationLogo from "@/Components/ApplicationLogo.vue";
import {Link} from "@inertiajs/vue3";

import {onMounted, ref} from "vue";

const user = ref({})

const getUser = async () => {
    try {
        const response = await fetch('/get-user')

        if (response.ok) {
            const data = await response.json()
            user.value = data.data
            console.log(data);
        } else {
            console.error('error while getting user')
        }
    } catch (err) {
        console.error(err)
    }
}

onMounted(getUser)
</script>

<template>
    <div class="bg-gray-100  border-b-2 border-gray-200 p-3 flex flex-col">
        <div class="flex justify-between">

            <div class="w-14 h-14 hover:bg-gray-300 flex items-center justify-center">
                <div class="w-12">
                    <ApplicationLogo/>
                </div>
            </div>

            <div
                v-if="user.avatar === null"
                class="hover:bg-gray-300 w-14 h-14">
                <div class="w-14 h-14 rounded-full bg-gray-100 flex justify-center items-center cursor-pointer">
                    <img class="w-12 rounded-full" src="../../../../../public/img/avatar/default.svg">
                </div>
            </div>

            <div
                v-if="user.avatar"
                class="hover:bg-gray-300 w-14 h-14">
                <div class="w-14 h-14 rounded-full bg-gray-100 flex justify-center items-center cursor-pointer">
                    <img class="w-12 rounded-full" :src="'/img/avatar/'+ user.avatar.avatar">
                </div>
            </div>

        </div>

        <div class="mt-4 flex justify-center space-x-6">

            <div class="w-16 h-8 bg-white flex items-center justify-center hover:bg-gray-300 shadow shadow-gray-500">
                <img class="w-6" src="../../../../../public/img/icon/sidebar.svg">
            </div>

            <div class="w-16 h-8 bg-white flex items-center justify-center hover:bg-gray-300 shadow shadow-gray-500">
                <img class="w-6" src="../../../../../public/img/icon/copy.svg">
            </div>

            <Link href="/logout" method="post">
                <div class="w-16 h-8 bg-white flex items-center justify-center hover:bg-gray-300 shadow shadow-gray-500">
                    <img class="w-6" src="../../../../../public/img/icon/exit.svg">
                </div>
            </Link>



        </div>
    </div>

</template>
