<script setup>
import SidebarHeader from "@/Pages/Platform/Sidebar/SidebarHeader.vue";
import SidebarMenu from "@/Pages/Platform/Sidebar/SidebarMenu.vue";
import { defineProps, defineEmits } from 'vue';

const props = defineProps({
    selectedElement: {
        type: String,
        default: null
    }
});

const emits = defineEmits(['update-content']);

function selectElement(element) {
    emits('update-content', element);
}
</script>

<template>
    <div class="w-full min-h-screen bg-white border-r-2 border-gray-200">
        <div>
            <SidebarHeader />
        </div>
        <div>
            <SidebarMenu :selectedElement="selectedElement" @select-element="selectElement" />
        </div>
    </div>
</template>
