<template>
    <div class="min-h-screen flex items-start justify-start">
        <div class="w-96 bg-white border-2 border-teal-700 p-10 rounded-lg shadow-xl">
            <div class="flex items-center justify-between mb-10">
                <div class="text-2xl font-semibold">Team Members</div>
                <div class="w-12 h-12"></div>
            </div>
            <div>
                <ul>
                    <!-- Вывод членов команды -->
                    <li v-for="member in paginatedMembers" :key="member.id">
                        <div class="text-lg font-semibold mb-2">{{ member.name }}</div>
                        <div>{{ member.position }}</div>
                    </li>
                </ul>
            </div>
            <div class="mt-6 flex justify-between items-center">
                <!-- Пагинация -->
                <button
                    class="w-20 h-10 bg-teal-700 text-white rounded-md shadow-sm hover:bg-teal-800"
                    :disabled="currentPage === 1"
                    @click="previousPage"
                >
                    Previous
                </button>
                <div>{{ currentPage }} / {{ totalPages }}</div>
                <button
                    class="w-20 h-10 bg-teal-700 text-white rounded-md shadow-sm hover:bg-teal-800"
                    :disabled="currentPage === totalPages"
                    @click="nextPage"
                >
                    Next
                </button>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, computed } from 'vue';
import { Link } from '@inertiajs/vue3';

const members = ref([
    { id: 1, name: 'John Doe', position: 'Developer' },
    { id: 2, name: 'Jane Smith', position: 'Designer' },
    // ... Другие члены команды ...
]);

const itemsPerPage = 3; // Количество элементов на странице
const currentPage = ref(1);

const totalPages = computed(() => Math.ceil(members.value.length / itemsPerPage));

const paginatedMembers = computed(() => {
    const startIndex = (currentPage.value - 1) * itemsPerPage;
    const endIndex = startIndex + itemsPerPage;
    return members.value.slice(startIndex, endIndex);
});

const previousPage = () => {
    if (currentPage.value > 1) {
        currentPage.value--;
    }
};

const nextPage = () => {
    if (currentPage.value < totalPages.value) {
        currentPage.value++;
    }
};
</script>
