<script setup>
import { ref } from 'vue';

const notes = ref([
    { id: 1, text: '' },
    { id: 2, text: '' }
]);

const addNote = () => {
    if (notes.value.length < 3) {
        notes.value.push({ id: notes.value.length + 1, text: '' });
    }
};

const deleteNote = (noteId) => {
    const index = notes.value.findIndex((note) => note.id === noteId);
    if (index !== -1) {
        notes.value.splice(index, 1);
    }
};
</script>

<template>
    <div class="min-h-screen flex items-start justify-end">
        <div class="w-full bg-white border-2 border-teal-700 p-10 rounded-lg shadow-xl">
            <div class="flex items-center justify-between mb-10">
                <div class="text-2xl font-semibold">Add Notes</div>
                <div class="w-12 h-12"></div>
            </div>
            <div>
                <div v-for="note in notes" :key="note.id" class="mb-6">
          <textarea
              class="w-full h-24 px-4 py-2 border-2 border-teal-700 rounded-md shadow-sm focus:outline-none focus:border-teal-900"
              :placeholder="'Note ' + note.id"
              v-model="note.text"
          ></textarea>
                    <button
                        class="text-red-500 ml-2"
                        @click="deleteNote(note.id)"
                        v-if="notes.length > 2"
                    >
                        Delete
                    </button>
                </div>
            </div>
            <div class="mt-6 flex justify-end">
                <button
                    class="w-20 h-10 bg-teal-700 text-white rounded-md shadow-sm hover:bg-teal-800"
                    @click="addNote"
                    :disabled="notes.length >= 3"
                >
                    Add Note
                </button>
            </div>
        </div>
    </div>
</template>
