<template>
    <div class="min-h-screen flex items-start justify-start">
        <div class="w-96 bg-white border-2 border-teal-700 p-10 rounded-lg shadow-xl">
            <div class="flex items-center justify-between mb-10">

                <div class="text-2xl font-semibold">Update Tracker</div>
                <div class="w-12 h-12"></div>
            </div>
            <div>
                <div class="text-lg font-semibold mb-2">Task Name</div>
                <input
                    class="w-full h-12 px-4 py-2 border-2 border-teal-700 rounded-md shadow-sm focus:outline-none focus:border-teal-900"
                    placeholder="Tracker name..."
                    v-model="taskName"
                />
            </div>
            <div class="mt-6">
                <div class="text-lg font-semibold mb-2">About Project</div>
                <textarea
                    class="w-full h-24 px-4 py-2 border-2 border-teal-700 rounded-md shadow-sm focus:outline-none focus:border-teal-900"
                    placeholder="Project description..."
                    v-model="projectDescription"
                ></textarea>
            </div>
            <div class="mt-6">
                <button
                    class="w-full h-12 bg-teal-700 text-white rounded-md shadow-sm hover:bg-teal-800"
                    @click="updateTracker"
                >
                    Update Tracker
                </button>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref } from 'vue';
import { Link } from '@inertiajs/vue3';

const taskName = ref('');
const projectDescription = ref('');

const updateTracker = () => {
    // Логика обновления трекера
};
</script>
