<script setup>
import { defineProps, defineEmits } from "vue";

const props = defineProps({
    comment: {
        type: Object,
        required: true,
    },
    nestedComments: {
        type: Object,
        required: true,
    },
});
const emit = defineEmits(["replyClicked"]);

const comment = props.comment;

const reply = (comment_id) => {
    emit("replyClicked", comment_id);
};

console.log(comment);
</script>

<template>
    <div class="mt-8 ml-8 w-[90%] flex flex-col p-3">
        <div class="flex items-center justify-start space-x-4 mb-3">
            <div
                v-if="comment.user.avatar === null"
                class="w-12 h-12 rounded-full bg-teal-700">
                <img class="w-12 h-12 rounded-full" src="../../../../../public/img/avatar/default.svg">
            </div>
            <div
                v-if="comment.user.avatar"
                class="w-12 h-12 rounded-full bg-teal-700">
                <img class="w-12 h-12 rounded-full" :src="'/img/avatar/'+comment.user.avatar.avatar">
            </div>
            <div class="text-xl">{{ comment.user.name }}</div>
            <div class="flex items-center justify-center space-x-4 text-gray-700">
                <div class="relative bottom-[10px] text-4xl">.</div>
                <div>{{ comment.created }}</div>
            </div>
        </div>
        <div class="mt-3">{{ comment.text }}</div>
        <div class="flex space-x-2 mt-3">
            <div class="flex items-center justify-center font-semibold">
                <div @click.prevent="reply(comment.id)" class="cursor-pointer">Reply</div>
            </div>
        </div>

        <div>
            <CommentItem v-for="childComment in nestedComments[comment.id]" :key="childComment.id" :comment="childComment" :nestedComments="nestedComments" @replyClicked="reply" />
        </div>
    </div>
</template>
