<script setup>
import { defineProps, defineEmits } from "vue";
import CommentItem from "@/Pages/Tracker/TaskInfoComponents/CommentItem.vue";

const props = defineProps({
    comments: {
        type: Array,
        required: true,
    },
    nestedComments: {
        type: Object,
        required: true,
    },
});
const emit = defineEmits(["replyClicked"]);

const reply = (comment_id) => {
    emit("replyClicked", comment_id);
};
</script>

<template>
    <div>
        <CommentItem v-for="comment in comments" :key="comment.id" :comment="comment" :nestedComments="nestedComments" @replyClicked="reply" />
    </div>
</template>
