<script setup>
import { usePage } from "@inertiajs/vue3";
import { ref, computed } from "vue";
import TaskInfoCommentsForm from "@/Pages/Tracker/TaskInfoComponents/TaskInfoCommentsForm.vue";
import Comments from "@/Pages/Tracker/TaskInfoComponents/Comments.vue";

const { props } = usePage();
const task = props.task.data;

const selectedCommentId = ref(null);

const handleReplyClicked = (comment_id) => {
    selectedCommentId.value = comment_id;
};


const commentsByParentId = computed(() => {
    const comments = {};

    task.comments.forEach((comment) => {
        const parentId = comment.comment_id || null;

        if (!comments[parentId]) {
            comments[parentId] = [];
        }

        comments[parentId].push(comment);
    });

    return comments;
});
</script>

<template>
    <div>
        <TaskInfoCommentsForm :task="task" :commentId.sync="selectedCommentId" />

        <Comments :comments="commentsByParentId[null]" :nestedComments="commentsByParentId" @replyClicked="handleReplyClicked" />
    </div>
</template>
