<script setup>
import {useForm} from "@inertiajs/vue3";
import {ref, watch} from "vue";

const props = defineProps({
    task: {
        type: Object,
        required: true,
    },
    commentId: {
        type: Number,
        default: null,
    },
});

const task = props.task;
const tracker_id = task.tracker.id;

const form = useForm({
    text: "",
    user_id: task.user ? task.user.id : null,
    task_id: task.id,
});

const selectedCommentId = ref(null);

watch(() => props.commentId, (newCommentId) => {
    selectedCommentId.value = newCommentId;
});

const cancel = () => {
    selectedCommentId.value = null
    location.reload()
}

async function sendComment() {
    const formData = {
        text: form.text,
        comment_id: selectedCommentId.value,
        task_id: form.task_id,
    };

    console.log(formData);

    try {
        const response = await fetch(`/trackers/${tracker_id}/tasks/${form.task_id}/comment`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: JSON.stringify(formData),
        });

        if (response.ok) {
            form.reset('text');
            location.reload();
            console.log(response);
        } else {
            console.log('bad request');
        }
    } catch (error) {
        console.log(error);
    }
}
</script>

<template>
    <div class="w-full h-[130px]">
        <div class="w-[90%] h-full mx-auto">
      <textarea
          :class="{ 'py-16': selectedCommentId !== null }"
          v-model="form.text"
          class="resize-none w-full h-full bg-gray-100 appearance-none border-none hover:border-transparent"
      ></textarea>

            <div class="relative bottom-14 left-[850px]">
                <button
                    @click.prevent="sendComment"
                    class="px-4 py-2 font-bold text-white bg-teal-700 rounded-lg hover:bg-teal-800"
                >
                    Send
                </button>
            </div>
        </div>
        <div v-if="selectedCommentId !== null "
             class="relative left-20 bottom-28 w-32 h-8 bg-teal-700 text-xl font-semibold text-white flex items-center justify-between px-1">
            <div class="flex items-center justify-center space-x-1">
                <div class="text-lg">@</div>
                <div class="relative top-0.5">{{ selectedCommentId }}</div>
            </div>
            <div class="w-5 h-5 hover:bg-teal-800 flex items-center justify-center">
                <div @click.prevent="cancel">
                    <img class="w-4" src="../../../../../public/img/cancel2.svg">
                </div>
            </div>
        </div>
    </div>
</template>
