<script setup>
import {router, usePage} from "@inertiajs/vue3";
import {Link} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";

const { props } = usePage();
const task = props.task.data;
const tracker = task.tracker.id

console.log(task.id);
console.log(tracker);

const deleteTask = async (tracker, id) => {

    try {
        console.log(tracker);
        const response = await fetch(`/trackers/${tracker}/tasks/${id}`, {
            method: 'DELETE'
        });

        if (response.ok) {
            const url = `/trackers/${tracker}`
            router.get(url)
            console.log('Task deleted successfully');
        } else {
            console.error('An error occurred while deleting the task');
        }
    } catch (error) {
        console.error('An error occurred while deleting the task');
    }
};

const role = ref({})

const getRole = async () => {
    try {
        const response = await fetch(`/trackers/${tracker}/get-role`)
        if (response.ok){
            const data = await response.json()
            role.value = data
        }
    } catch (e){
        console.error('fetch error')
    }

}

const back = async () => {
    const url = `/trackers/${tracker}`
    router.get(url)
}


onMounted(getRole)

</script>

<template>
    <div class="w-full h-24 flex items-center justify-between">
        <div class="flex space-x-3 items-center">
            <div class="hover:bg-gray-100 w-9 h-9 flex items-center justify-center cursor-pointer">
                <div @click.prevent="back">
                    <img class="w-7" src="../../../../../public/img/icon/back2.svg">
                </div>
            </div>
            <div class="text-xl font-medium flex">
                <span class="opacity-75">{{task.tracker.title}} </span>
                 /
                <span> {{task.title}}</span>
            </div>
        </div>
        <div class="flex space-x-4 items-center justify-center">
            <div class="w-9 h-9 hover:bg-gray-100 cursor-pointer flex items-center justify-center">
                <div><img
                    class="w-6"
                    src="../../../../../public/img/icon/share.svg"></div>
            </div>

            <Link :href="route('tracker.tasks.info.edit', { tracker: tracker, task: task.id })">
                <div
                    v-show="parseInt(role.role_id) === 3"
                    class="w-9 h-9 hover:bg-gray-100 cursor-pointer flex items-center justify-center">
                    <div><img
                        class="w-8"
                        src="../../../../../public/img/icon/edit-2.svg"></div>
                </div>
            </Link>

            <div
                v-show="parseInt(role.role_id) === 3"
                @click.prevent="deleteTask(tracker, task.id)"
                class="w-9 h-9 hover:bg-gray-100 cursor-pointer flex items-center justify-center">
                <div><img
                    class="w-8"
                    src="../../../../../public/img/icon/delete.svg"></div>
            </div>
        </div>
    </div>
</template>
