<script setup>
import {usePage} from "@inertiajs/vue3";

const {props} = usePage();
const task = props.task.data;

console.log(task);
</script>

<template>
    <div class="w-full flex items-center space-x-24 text-xl">
        <div class="flex flex-col">
            <div class="flex items-center text-gray-800">
                <div><img class="h-14" src="../../../../../public/img/icon/title2.svg"></div>
                <div>Title</div>
            </div>
            <div class="flex items-center text-gray-800">
                <div><img class="w-14" src="../../../../../public/img/icon/assign.svg"></div>
                <div>Assignee</div>
            </div>
            <div class="flex items-center text-gray-800">
                <div><img class="w-14" src="../../../../../public/img/icon/status2.svg"></div>
                <div>Status</div>
            </div>
            <div class="flex items-center text-gray-800">
                <div><img class="w-14" src="../../../../../public/img/icon/priority2.svg"></div>
                <div>Priority</div>
            </div>
            <div class="flex items-center text-gray-800">
                <div><img class="w-14" src="../../../../../public/img/icon/due-time.svg"></div>
                <div>Due Time</div>
            </div>
        </div>
        <div class="space-y-7 text-start">
            <div>{{ task.title }}</div>
            <div>{{ task.user ? task.user.name : '-' }}</div>

            <div
                class="text-center min-w-16 px-1 h-8  font-semibold flex items-center justify-center"
                :class="{
                    'bg-blue-100': task.status.name === 'frozen',
                    'text-blue-600': task.status.name === 'frozen',
                    'bg-red-100': task.status.name === 'untracked',
                    'text-red-500': task.status.name === 'untracked',
                    'bg-orange-100': task.status.name === 'in review',
                    'text-orange-500': task.status.name === 'in review',
                    'bg-green-100': task.status.name === 'completed',
                    'text-green-600': task.status.name === 'completed',
                    'bg-yellow-100': task.status.name === 'in progress',
                    'text-yellow-600': task.status.name === 'in progress',
                    'bg-teal-100': task.status.name === 'planned',
                    'text-teal-700': task.status.name === 'planned',

    }"
            >
                <div>
                    {{ task.status.name }}
                </div>
            </div>

            <div
                class="text-center min-w-16 px-1 h-8  font-semibold flex items-center justify-center"
                :class="{
                    'bg-green-100': task.priority.name === 'Low',
                    'text-green-600': task.priority.name === 'Low',
                    'bg-blue-100': task.priority.name === 'Middle',
                    'text-blue-700': task.priority.name === 'Middle',
                    'bg-red-100': task.priority.name === 'High',
                    'text-red-500': task.priority.name === 'High',

                }"
            >
                <div>
                    {{ task.priority.name }}
                </div>
            </div>

            <div class="text-center">
                {{task.due_time_for_user}}
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>
