<script setup>
import {usePage} from "@inertiajs/vue3";

const {props} = usePage();
const task = props.task.data;
</script>

<template>
<div class="text-xl flex flex-col space-y-6">
    <div class="w-full h-full p-4 bg-white shadow-lg border-gray-100 border-2">
        <div class="relative bottom-7 right-7 w-8 h-8"><img class="w-8" src="../../../../../public/img/icon/desc.svg"></div>
        <div class="font-medium text-2xl text-gray-900 mb-2">Short description</div>
        <div class="mb-3 text-lg">{{task.short_description}}</div>
        <div class="font-medium text-2xl text-gray-900 mb-2">Description</div>
        <div class="text-lg">{{task.full_description}}</div>
    </div>
</div>
</template>

<style scoped>

</style>
