<script setup>
import {Head, Link, useForm} from '@inertiajs/vue3';
</script>

<template>
    <Link href="/">
        <img class="cursor-pointer" src="../../../public/img/icon/Logo.svg">
    </Link>
</template>

