<script setup>

defineProps({
    message: {
        type: String,
        required: true
    },
    //
    // notificationShow: {
    //     type: Boolean,
    //     required: true
    // }

});

</script>

<template>
    <transition name="slide-up">
        <div class="fixed bottom-4 right-4 z-50">
            <div
                class="w-[400px] h-[100px] bg-gray-800 text-white rounded-lg shadow-lg flex items-center justify-between px-4">
                <div>
                    <div class="flex space-x-2 items-center justify-start">
                        <div><img
                            class="w-6"
                            src="../../../public/img/icon/notice2.svg"></div>
                        <div><h3 class="text-xl font-semibold">Notification</h3></div>
                    </div>
                    <p class="text-sm">{{ message }}</p>
                </div>
<!--                <button-->
<!--                    class="text-white hover:text-gray-200">-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">-->
<!--                        <path-->
<!--                            fill-rule="evenodd"-->
<!--                            d="M14.71 5.29a1 1 0 0 0-1.42 0L10 8.59l-3.29-3.3a1 1 0 1 0-1.42 1.42L8.59 10l-3.3 3.29a1 1 0 1 0 1.42 1.42L10 11.41l3.29 3.3a1 1 0 0 0 1.42-1.42L11.41 10l3.3-3.29a1 1 0 0 0 0-1.42z"-->
<!--                        />-->
<!--                    </svg>-->
<!--                </button>-->
            </div>
        </div>
    </transition>
</template>


<style>
.slide-up-enter-active {
    animation: slide-up-enter 0.3s ease-out;
}

.slide-up-leave-active {
    animation: slide-up-leave 0.3s ease-out;
}

@keyframes slide-up-enter {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-up-leave {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}
</style>
