<script setup>
import { ref } from 'vue';
import Sidebar from "@/Pages/Platform/Sidebar/Sidebar.vue";
import Trackers from "@/Pages/Platform/Panel/Trackers.vue";
import Profile from "@/Pages/Platform/Panel/Profile.vue";
import Help from "@/Pages/Platform/Panel/Help.vue";

const selectedElement = ref('Trackers');
function updateContent(element) {
    selectedElement.value = element;
}
</script>

<template>
    <div class="w-full min-h-screen bg-white grid grid-cols-7">
        <div class="col-span-1">
            <Sidebar :selectedElement="selectedElement" @update-content="updateContent" />
        </div>
        <div class="col-span-6">
            <Trackers v-if="selectedElement === 'Trackers'" />
            <Profile v-if="selectedElement === 'Profile'" />
            <Help v-if="selectedElement === 'Help'" />
        </div>

    </div>
</template>

<style scoped>

</style>
