<script setup>
import {onMounted, ref} from "vue";

const user = ref({})

const getUser = async () => {
    try {
        const response = await fetch('/get-user')

        if (response.ok) {
            const data = await response.json()
            user.value = data.data
        } else {
            console.error('error while getting user')
        }
    } catch (err) {
        console.error(err)
    }
}

onMounted(getUser)
const handleFileUpload = async (event) => {
    const file = event.target.files[0];

    const formData = new FormData();
    formData.append('avatar', file);

    try {
        console.log(formData);
        const response = await fetch('/platform/profile/upload-avatar', {
            method: 'POST',
            body: formData,
        });

        if (response.ok) {
            const data = await response.json();
            console.log(data.message);
            getUser()
        } else {
            console.error('Error while saving avatar');
        }
    } catch (error) {
        console.error(error);
    }
};

</script>

<template>
    <div class="flex">

        <div v-if="user.avatar === null">
            <div

                class="w-32 h-32 border-gray-300 border-2 overflow-hidden flex items-center justify-center bg-blue-300 rounded-full">
                <img class="w-32 h-32" src="../../../../../../public/img/avatar/default.svg">

            </div>
        </div>

        <div v-if="user.avatar">
            <div
                class="w-32 h-32 border-gray-300 border-2 overflow-hidden flex items-center justify-center bg-blue-300 rounded-full">
                <img class="w-32 h-32" :src="'/img/avatar/'+ user.avatar.avatar">
            </div>
        </div>

        <div class="relative top-24 right-8 w-4 h-4">
            <label for="file-upload"
                   class="rounded-full w-4  bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded cursor-pointer">
                <span class="text-2xl">+</span>
            </label>
            <input id="file-upload" type="file" class="hidden" @change="handleFileUpload">
        </div>
    </div>
</template>
