<script setup>
import {onMounted, ref} from "vue";


const user = ref({})

const getUser = async () => {
    try {
        const response =  await fetch('/get-user')

        if (response.ok){
            const data = await response.json()
            user.value = data.data
            console.log(response);
        } else {
            console.error('error while getting user')
        }
    } catch (err) {
        console.error(err)
    }
}

onMounted(getUser)
</script>

<template>
    <div class="w-full h-32 p-6 flex ">
        <div class="w-full text-xl flex flex-col space-y-5">
            <div class="flex justify-between">
                <div class="flex space-x-2">
                    <div>
                        <img class="w-6 h-6" src="../../../../../../public/img/icon/user4.svg" alt="user-icon">
                    </div>
                    <div>{{user.name}}</div>
                </div>
                <div class="flex items-center space-x-4">
                    <div>
                        <div class="w-8 h-8 bg-white flex items-center justify-center border-2 border-gray-400 cursor-pointer hover:bg-gray-100">
                            <div>
                                <img class="w-5 h-5" src="../../../../../../public/img/icon/edit2.svg" alt="edit-icon">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="w-8 h-8 bg-white flex items-center justify-center border-2 border-gray-400 cursor-pointer hover:bg-gray-100">
                            <div>
                                <img class="w-5 h-5" src="../../../../../../public/img/icon/settings.svg" alt="settings-icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex space-x-12">
                <div class="flex items-center justify-center space-x-2">
                    <div>
                        <img class="w-5 h-5" src="../../../../../../public/img/icon/email.svg">
                    </div>
                    <div class="opacity-75">
                        {{user.email}}
                    </div>
                </div>
                <div>@<span class="opacity-75">{{user.id}}</span></div>
                <div class="flex items-center justify-center space-x-2">
                    <div>
                        <img class="w-5 h-5" src="../../../../../../public/img/icon/date.svg">
                    </div>
                    <div class="opacity-75">
                        Member since {{user.created}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
