<script setup>

import AvatarSection from "@/Pages/Platform/Panel/ProfileComponents/AvatarSection.vue";
import ProfileData from "@/Pages/Platform/Panel/ProfileComponents/ProfileData.vue";

</script>

<template>
    <div class="flex w-full">
        <div>
            <AvatarSection />
        </div>
        <div class="w-full ml-14">
            <ProfileData />
        </div>
    </div>
</template>

