<script setup>

import ProfileStatistic from "@/Pages/Platform/Panel/ProfileComponents/ProfileStatistic.vue";
</script>

<template>
    <div class="w-full h-full flex items-start justify-start mt-16 ml-32 space-x-36">
        <div class="w-[30%] h-96 bg-white shadow shadow-gray-500 rounded-2xl">
            <ProfileStatistic />
        </div>
    </div>
</template>

<style scoped>

</style>
