<script setup>
import {onMounted, ref} from "vue";

const info = ref()
const getInfo = async () => {
    const response = await fetch('/statistic/profile/info')

    if (response.ok){
        const data = await response.json()
        info.value = data
    }
}

onMounted(getInfo)
</script>

<template>
    <div class="container w-full mx-auto p-6">
        <div class="text-gray-700 text-2xl border-b border-gray-300 pb-5">Statistic</div>
        <div class="mt-12 text-lg font-mono">
            <div v-if="info" class="w-full  space-y-12">
                <div class="flex items-center justify-between">
                    <div class="">Number of tasks</div>
                    <div class="">-</div>
                    <div class="text-xl w-20 h-8 bg-green-700 rounded-full flex items-center justify-center text-white font-semibold">
                        <div>{{info.task_count}}</div>
                    </div>
                </div>

                <div class="flex items-center justify-between">
                    <div class="">Number of trackers</div>
                    <div class="">-</div>
                    <div class="text-xl w-20 h-8 bg-red-700 rounded-full flex items-center justify-center text-white font-semibold">
                        <div>{{info.tracker_count}}</div>
                    </div>
                </div>

                <div class="flex items-center justify-between">
                    <div class="">Number of comments</div>
                    <div class="">-</div>
                    <div class="text-xl w-20 h-8 bg-teal-700 rounded-full flex items-center justify-center text-white font-semibold">
                        <div>{{info.comment_count}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
