<script setup>
import {usePage} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";

const { props } = usePage();
const tracker_id = props.tracker_id

const info = ref({})
const getInfo = async () => {
    const response = await fetch(`/statistic/trackers/${tracker_id}/info`)
    if (response.ok){
        const data = await response.json()
        info.value = data
    } else {
        console.error('fetch error')
    }
}

onMounted(getInfo)
</script>

<template>
<div class="w-full h-[40%] bg-white shadow shadow-gray-400">
    <div v-if="info" class="container py-4 px-12 mx-auto">
        <div class="text-4xl font-medium mb-4">About project: </div>
        <div v-if="info.description" class="text-lg text-gray-800 font-medium">{{info.description.description}}</div>
        <div class="flex justify-between items-end relative top-36 text-2xl">
            <div>Rating: <span class="text-3xl text-red-600 font-extrabold">{{info.top}}</span></div>
            <div>Created: {{info.created}}</div>
        </div>
    </div>
</div>
</template>
