<script setup>

</script>

<template>
    <div class="w-full h-16 p-4 border-b-2 border-gray-300 flex items-center justify-start">
        <div class="text-gray-700">Analytics ></div>
    </div>

</template>

<style scoped>

</style>
