<script setup>

import {usePage} from "@inertiajs/vue3";
import StatisticHeader from "@/Pages/Tracker/AnalyticsComponents/StatisticHeader.vue";
import DiagrammsStatusRatio from "@/Pages/Tracker/AnalyticsComponents/DiagrammsStatusRatio.vue";
import MonitoringOfTasks from "@/Pages/Tracker/AnalyticsComponents/MonitoringOfTasks.vue";
import StatisticPriority from "@/Pages/Tracker/AnalyticsComponents/StatisticPriority.vue";
import AboutProject from "@/Pages/Tracker/AnalyticsComponents/AboutProject.vue";
import TopIssueFixer from "@/Pages/Tracker/AnalyticsComponents/TopIssueFixer.vue";

const {props} = usePage();
const tracker_id = props.tracker_id
</script>

<template>
    <div class="w-full h-screen mx-auto space-x-12 flex">
        <div class="w-[68%] h-[80%]">
            <StatisticHeader :tracker_id="tracker_id"/>
            <DiagrammsStatusRatio :tracker_id="tracker_id"/>
            <div class="flex w-full h-[30%] items-center justify-between mt-8">
                <MonitoringOfTasks :tracker_id="tracker_id"/>
                <StatisticPriority :tracker_id="tracker_id"/>
            </div>
        </div>
        <div class="w-[44%] h-[80%]">
            <AboutProject :tracker_id="tracker_id"/>
            <TopIssueFixer :tracker_id="tracker_id"/>
        </div>
    </div>

</template>

<style scoped>

</style>
