<script setup>

import TrackerHeader from "@/Pages/Tracker/AnalyticsComponents/AnalyticsHeader.vue";
import TrackerContent from "@/Pages/Tracker/AnalyticsComponents/AnalyticsContent.vue";
import {usePage} from "@inertiajs/vue3";

const { props } = usePage();
const tracker_id = props.tracker_id
</script>

<template>
    <div class="bg-gray-100">
        <div>
            <TrackerHeader />
        </div>
        <div class="container mx-auto w-full px-32 h-full mt-10">
            <TrackerContent :tracker_id="tracker_id"/>
        </div>
    </div>
</template>

