<script setup>
import {usePage} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";

const {props} = usePage();
const tracker_id = props.tracker_id

const statusesRatio = ref([])

const getTasksStatusRatio = async () => {
    const response = await fetch(`/statistic/trackers/${tracker_id}/task-status-ratio`)
    if (response.ok) {
        const data = await response.json()
        statusesRatio.value = data
    } else {
        console.error('fetch error')
    }
}

onMounted(getTasksStatusRatio)


</script>

<template>

    <div v-if="statusesRatio.length === 0" class="w-full h-[58%] bg-white shadow shadow-gray-400 px-6 space-x-5 flex items-start justify-center">
        <div class="mt-20 text-2xl text-gray-800 space-y-2">
            <div class="">At the moment there are no tasks in the tracker </div>
        </div>
    </div>

    <div v-else
        class="w-full h-[58%] bg-white shadow shadow-gray-400 flex items-center justify-start px-6 space-x-5">
        <div class="w-full h-full container px-12 py-2 grid grid-cols-3 place-items-center space-y-3">


            <div v-for="statusRatio in statusesRatio">
                <div class="w-40">
                    <div
                        :class="{
                    'border-blue-700': statusRatio.status === 'frozen',
                    'border-red-700': statusRatio.status === 'untracked',
                    'border-teal-700': statusRatio.status === 'planned',
                    'border-indigo-700': statusRatio.status === 'in progress',
                    'border-orange-700': statusRatio.status === 'in review',
                    'border-green-700': statusRatio.status === 'completed',
                            }"
                        class="w-40 h-40 rounded-full border-4 flex items-center justify-center">
                        <div
                            :class="{
                        'border-blue-700': statusRatio.status === 'frozen',
                        'border-red-700': statusRatio.status === 'untracked',
                        'border-teal-700': statusRatio.status === 'planned',
                        'border-indigo-700': statusRatio.status === 'in progress',
                        'border-orange-700': statusRatio.status === 'in review',
                        'border-green-700': statusRatio.status === 'completed',
                            }"
                            class="w-32 h-32 rounded-full border-[20px] flex items-center justify-center">
                            <div class="font-medium text-xl">{{statusRatio.percent}}%</div>
                        </div>
                    </div>
                    <div class="text-center text-lg font-medium mt-2">{{ statusRatio.status }}</div>
                </div>

            </div>
        </div>
    </div>

</template>

