<script setup>
import {usePage} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";


const {props} = usePage();
const tracker_id = props.tracker_id

const taskRatio = ref()


const getTaskRatio = async () => {
    const response = await fetch(`/statistic/trackers/${tracker_id}/task-ratio`)
    if (response.ok){
        const data = await response.json()
       taskRatio.value = data
    } else {
        console.error('fetch error')
    }
}

onMounted(getTaskRatio)

</script>

<template>
    <div class="w-[48%] h-full bg-white shadow shadow-gray-400">

        <div v-if="taskRatio" class="flex items-center justify-center p-8 space-x-5">

            <div class="w-20 h-36 bg-gray-300 text-black font-semibold flex flex-col items-center justify-center shadow-md shadow-gray-400">
                <div>{{taskRatio.on_time_tasks.percentage}}%</div>
                <div>another</div>
            </div>

            <div class="w-20 h-36 bg-green-700 text-white font-semibold flex flex-col items-center justify-center shadow-md shadow-green-500">
                <div>{{taskRatio.completed_tasks.percentage}}%</div>
                <div>done</div>
            </div>

            <div class="w-20 h-36 bg-black text-white font-semibold flex flex-col items-center justify-center shadow-md shadow-black">
                <div>{{taskRatio.overdue_tasks.percentage}}%</div>
                <div>overdue</div>
            </div>

        </div>

    </div>
</template>
