<script setup>
import {usePage} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";

const { props } = usePage();
const tracker_id = props.tracker_id

const info = ref({})
const getInfo = async () => {
    const response = await fetch(`/statistic/trackers/${tracker_id}/info`)
    if (response.ok){
        const data = await response.json()
        info.value = data
    } else {
        console.error('fetch error')
    }
}

onMounted(getInfo)
</script>

<template>
<div class="w-full h-[12%] flex space-x-5">

    <div class="w-1/3 h-3/4 bg-white shadow shadow-gray-400 flex items-center justify-start px-6 space-x-5">
        <div>
            <div><img class="w-14 h-14" src="../../../../../public/img/icon/users3.svg"></div>
        </div>
        <div>
            <div class="font-bold text-lg">Members:</div>
            <div class="text-right text text-xl text-gray-800">{{info.members}}</div>
        </div>
    </div>

    <div class="w-1/3 h-3/4 bg-white shadow shadow-gray-400 flex items-center justify-start px-6 space-x-5">
        <div>
            <div><img class="w-14 h-14" src="../../../../../public/img/icon/tasks3.svg"></div>
        </div>
        <div>
            <div class="font-bold text-lg">Tasks:</div>
            <div class="text-right text text-xl text-gray-800">{{info.taskCount}}</div>
        </div>
    </div>

    <div class="w-1/3 h-3/4 bg-white shadow shadow-gray-400 flex items-center justify-start px-6 space-x-5">
        <div>
            <div><img class="w-14 h-14" src="../../../../../public/img/icon/comments3.svg"></div>
        </div>
        <div>
            <div class="font-bold text-lg">Comments:</div>
            <div class="text-right text text-xl text-gray-800">{{info.comment_count}}</div>
        </div>
    </div></div>

</template>

<style scoped>

</style>
