<script setup>
import {usePage} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";

const {props} = usePage();
const tracker_id = props.tracker_id

const priorityRatio = ref()

const getTaskPriorityRatio = async () => {
    const response = await fetch(`/statistic/trackers/${tracker_id}/task-priority-ratio`)

    if (response.ok){
        const data = await response.json()
        priorityRatio.value = data

    } else {
        console.error('fetch error')
    }
}

onMounted(getTaskPriorityRatio)
</script>

<template>
    <div class="w-[46%] h-full bg-white shadow shadow-gray-400">
        <div class="p-8">
            <div v-for="priority in priorityRatio" :key="priority.priority_name" class="flex items-center justify-start text-xl">
                <div>
                    <img
                        v-if="priority.priority_name === 'Low'"
                        class="w-12"
                        src="../../../../../public/img/icon/low_priority.svg"
                        alt="Low Priority"
                    />
                    <img
                        v-else-if="priority.priority_name === 'Middle'"
                        class="w-12"
                        src="../../../../../public/img/icon/middle_priority.svg"
                        alt="Middle Priority"
                    />
                    <img
                        v-else-if="priority.priority_name === 'High'"
                        class="w-12"
                        src="../../../../../public/img/icon/high_priority.svg"
                        alt="High Priority"
                    />
                </div>
                <div> - {{priority.percentage}} : {{priority.count}} count</div>
            </div>
        </div>
    </div>
</template>
