<script setup>
import {usePage} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";

const {props} = usePage();
const tracker_id = props.tracker_id

const users = ref([])
const getTopIssueFixer = async () => {
    const response = await fetch(`/statistic/trackers/${tracker_id}/top-issue-fixer`)
    if (response.ok){
        const data = await response.json()
        users.value = data.data
        console.log(data);
    }
}

onMounted(getTopIssueFixer)
</script>

<template>
    <div class="w-full h-[57%] mt-12 bg-white shadow shadow-gray-400">
        <div class="w-full h-full p-8">
            <div class="text-4xl font-medium">Top Issue-fixers: </div>

            <div v-if="users.length > 0">
                <div v-for="user in users" class="mb-6 mt-10 flex items-center space-x-5">
                    <div v-if="user.avatar === null">
                        <div><img class="w-16 h-16 rounded-full" src="../../../../../public/img/avatar/default.svg"></div>
                    </div>
                    <div v-if="user.avatar">
                        <div><img class="w-16 h-16 rounded-full" :src="'/img/avatar/'+user.avatar.avatar"></div>
                    </div>

                    <div class="flex flex-col">
                        <div class="text-lg">{{user.name}}</div>
                        <div class="text-sm text-gray-800">{{user.email}}</div>
                        <div class="text-sm text-gray-800">Task completed: {{user.task_count}}</div>
                    </div>

                </div>
            </div>

            <div v-else class="mt-4 text-2xl text-gray-800">
                No information
            </div>

        </div>
    </div>
</template>

<style scoped>

</style>
