<script setup>
import {ref, defineEmits, onMounted} from 'vue';
import {Link, usePage} from "@inertiajs/vue3";

const selectedElement = ref('Analytics');

const emits = defineEmits(['select-element']);

function selectElement(element) {
    selectedElement.value = element;
    emits('select-element', element);
}

const { props } = usePage();
const tracker_id = props.tracker_id

const role = ref({})

const getRole = async () => {
    try {
        const response = await fetch(`/trackers/${tracker_id}/get-role`)
        if (response.ok){
            const data = await response.json()
            role.value = data
        }
    } catch (e){
        console.error('fetch error')
    }

}
onMounted(getRole)

</script>

<template>
    <div class="w-full min-h-screen bg-white p-2">
        <div class="mt-6 flex flex-col space-y-2 text-xl">

            <div
                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"
                :class="{ 'bg-gray-100': selectedElement === 'Analytics', 'border-l-4 border-orange-500': selectedElement === 'Analytics' }"
                @click="selectElement('Analytics')"
            >
                <div>
                    <img class="w-6" src="../../../../../public/img/icon/tracker.svg">
                </div>
                <div class="ml-2">Analytics</div>
            </div>

            <div
                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"
                :class="{ 'bg-gray-100': selectedElement === 'Workflow', 'border-l-4 border-orange-500': selectedElement === 'Workflow' }"
                @click="selectElement('Workflow')"
            >
                <div>
                    <img class="w-6" src="../../../../../public/img/icon/workflow.svg">
                </div>
                <div class="ml-2">Workflow</div>
            </div>

            <div
                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"
                :class="{ 'bg-gray-100': selectedElement === 'Team', 'border-l-4 border-orange-500': selectedElement === 'Team' }"
                @click="selectElement('Team')"
            >
                <div>
                    <img class="w-6" src="../../../../../public/img/icon/team.svg">
                </div>
                <div class="ml-2">Team</div>
            </div>

            <div
                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"
                :class="{ 'bg-gray-100': selectedElement === 'Workspace', 'border-l-4 border-orange-500': selectedElement === 'Workspace' }"
                @click="selectElement('Workspace')"
            >
                <div>
                    <img class="w-6" src="../../../../../public/img/icon/workspace.svg">
                </div>
                <div class="ml-2">Workspace</div>
            </div>

<!--            <div-->
<!--                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"-->
<!--                :class="{ 'bg-gray-100': selectedElement === 'Noticeboard', 'border-l-4 border-orange-500': selectedElement === 'Noticeboard' }"-->
<!--                @click="selectElement('Noticeboard')"-->
<!--            >-->
<!--                <div>-->
<!--                    <img class="w-6" src="../../../../../public/img/icon/bell.svg">-->
<!--                </div>-->
<!--                <div class="ml-2">Noticeboard</div>-->
<!--            </div>-->

            <div
                v-show="parseInt(role.role_id) === 3"
                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"
                :class="{ 'bg-gray-100': selectedElement === 'Archive', 'border-l-4 border-orange-500': selectedElement === 'Archive' }"
                @click="selectElement('Archive')"
            >
                <div>
                    <img class="w-6" src="../../../../../public/img/icon/archive.svg">
                </div>
                <div class="ml-2">Archive</div>
            </div>

<!--            <div-->
<!--                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"-->
<!--                :class="{ 'bg-gray-100': selectedElement === 'Control', 'border-l-4 border-orange-500': selectedElement === 'Control' }"-->
<!--                @click="selectElement('Control')"-->
<!--            >-->
<!--                <div>-->
<!--                    <img class="w-6" src="../../../../../public/img/icon/control.svg">-->
<!--                </div>-->
<!--                <div class="ml-2">Control</div>-->
<!--            </div>-->

            <div
                v-show="parseInt(role.role_id) === 3"
                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"
                :class="{ 'bg-gray-100': selectedElement === 'Settings', 'border-l-4 border-orange-500': selectedElement === 'Settings' }"
                @click="selectElement('Settings')"
            >
                <div>
                    <img class="w-6" src="../../../../../public/img/icon/settings-5.svg">
                </div>
                <div class="ml-2">Settings</div>
            </div>

            <div
                class="flex justify-start items-center w-full h-10 hover:bg-gray-100 hover:rounded-r-xl cursor-pointer px-4"
                :class="{ 'bg-gray-100': selectedElement === 'Platform', 'border-l-4 border-orange-500': selectedElement === 'Platform' }"
                @click="selectElement('Platform')"
            >
                <div>
                    <img class="w-6" src="../../../../../public/img/icon/platform.svg">
                </div>
                <Link href="/platform">
                    <div class="ml-2">Platform</div>
                </Link>
            </div>


        </div>
    </div>
</template>
