<script setup>

import ApplicationLogo from "@/Components/ApplicationLogo.vue";
</script>

<template>
    <div class="bg-gray-100  border-b-2 border-gray-200 p-3 flex flex-col">
        <div class="flex justify-between">

            <div class="w-14 h-14 hover:bg-gray-300 flex items-center justify-center">
                <div class="w-12">
                    <ApplicationLogo/>
                </div>
            </div>

<!--            <div class="hover:bg-gray-300 w-14 h-14">-->
<!--                <div class="w-14 h-14 rounded-full bg-gray-100 flex justify-center items-center cursor-pointer">-->
<!--                    <img class="w-12" src="../../../../../public/img/avatar/default.svg">-->
<!--                </div>-->
<!--            </div>-->

        </div>

        <div class="mt-4 flex justify-center space-x-6">

            <div class="w-16 h-8 bg-white flex items-center justify-center hover:bg-gray-300 shadow shadow-gray-500">
                <img class="w-6" src="../../../../../public/img/icon/sidebar.svg">
            </div>

            <div class="w-16 h-8 bg-white flex items-center justify-center hover:bg-gray-300 shadow shadow-gray-500">
                <img class="w-6" src="../../../../../public/img/icon/copy.svg">
            </div>

            <div class="w-16 h-8 bg-white flex items-center justify-center hover:bg-gray-300 shadow shadow-gray-500">
                <img class="w-6" src="../../../../../public/img/icon/exit.svg">
            </div>

        </div>
    </div>

</template>

<style scoped>

</style>
