<script setup>
import {usePage} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";

const { props } = usePage();
const tracker_id = props.tracker_id

const tasks = ref([])


const fetchData = async () => {
    try {
        const response = await fetch(`/trackers/${tracker_id}/tasks/archive`);

        const data = await response.json();
        tasks.value = data.data
    } catch (err) {
        console.error(err)
    }
};

fetchData()

const restoreTask = async (task_id) => {
    try {
        console.log(task_id);
        const response = await fetch(`/trackers/${tracker_id}/tasks/${task_id}/restore`, {
            method: 'PATCH'
        });

        if (response.ok) {
            const data = response.json()
            console.log(data);
            await fetchData();
        } else {
            console.error('Failed to restore task');
        }
    } catch (err){
        console.error(err);
    }
};

</script>

<template>
    <div class="w-full h-full">

        <div class="w-full h-16 p-4 border-b-2 border-gray-200 flex items-center justify-start">
            <div class="text-gray-700">Archive ></div>
        </div>
        <div class="w-[90%] mx-auto mt-12">

            <template v-if="tasks.length > 0">

            <div class="mb-4" v-for="task in tasks">
                <div class="flex space-x-12 items-center justify-start">
                    <div class="w-48">{{task.title}}</div>
                    <div class="w-48">{{task.short_description}}</div>
                    <div class="w-48">{{task.deleted_at}}</div>
                    <div class="w-48">
                        <button
                            @click.prevent="restoreTask(task.id)"
                            class="w-24 rounded bg-teal-700 text-white font-medium">Restore</button>
                    </div>
                </div>
            </div>

            </template>

            <div v-if="tasks.length === 0"
                    class="w-1/2 mx-auto">
                <div class="text-4xl text-gray-700">You don't have any tasks in the archive yet</div>
            </div>


        </div>
    </div>
</template>
