<script setup>

import UpdateTracker from "@/Pages/Tracker/ControlComponents/UpdateTracker.vue";
import Members from "@/Pages/Tracker/ControlComponents/Members.vue";
import Notes from "@/Pages/Tracker/ControlComponents/Notes.vue";
</script>

<template>
<div class="w-full h-full">
    <div class="w-full h-16 p-4 border-b-2 border-gray-200 flex items-center justify-start">
        <div class="text-gray-700">Control ></div>
    </div>
    <div class="grid grid-cols-2 pt-12 px-36">
        <div>
            <UpdateTracker />
        </div>
        <div>
            <Members />
        </div>
        <div class="relative bottom-96 left-60">
            <Notes />
        </div>
    </div>

</div>
</template>

<style scoped>

</style>
