<script setup>
import {defineProps, onMounted, ref} from 'vue';
import {router} from "@inertiajs/vue3";


const props = defineProps({
    task: {
        type: Object,
        required: true,
    },
});

const task = props.task.data

const usersList = ref([]);
const statusesList = ref([]);
const prioritiesList = ref([]);
const tracker_id = props.task.data.tracker.id

const form = {
    title: task.title,
    short_description: task.short_description,
    full_description: task.full_description,
    status_id: task.status.id,
    priority_id: task.priority.id,
    tracker_id: tracker_id,
    user_id: task.user.id,
    due_time: task.due_time,
    views_count: task.views_count+1
};

const setPriority = (priorityId) => {
    form.priority_id = priorityId;
};

async function updateTask() {

    console.log(JSON.stringify(form))
    console.log(task.id);
    try {
            const response = await fetch(`/trackers/tasks/${task.id}/update`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(form)
            });

        if (response){
            const data = await response.json()
            location.reload()
            console.log(data);
        }

        } catch (error) {
            console.error(error);
        }
}

function cancel() {
    router.visit(`/trackers/${tracker_id}/tasks/${task.id}`);

}

onMounted(async () => {
    try {
        const response = await fetch(`/trackers/${tracker_id}/get-users-by-tracker`);
        if (response.ok) {
            const data = await response.json();
            usersList.value = data.data;
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }

    try {
        const response = await fetch(`/statuses`);
        if (response.ok) {
            const data = await response.json();
            statusesList.value = data.data;
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }

    try {
        const response = await fetch(`/priorities`);
        if (response.ok) {
            const data = await response.json();
            prioritiesList.value = data.data;
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }
});
</script>

<template>
    <div class="flex justify-center items-center h-screen text-black ">
        <div class="max-w-md w-full pl-8 border-l-8 border-teal-700">
            <h2 class="text-2xl font-bold mb-4">Edit Task</h2>
            <form @submit.prevent="createTask">
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block mb-1 font-semibold">Title</label>
                        <input v-model="form.title" type="text" class="w-full px-3 py-2 border border-gray-300 rounded" />
                    </div>
                    <div>
                        <label class="block mb-1 font-semibold">Short Description</label>
                        <input v-model="form.short_description" type="text" class="w-full px-3 py-2 border border-gray-300 rounded" />
                    </div>
                    <div class="col-span-2">
                        <label class="block mb-1 font-semibold">Full Description</label>
                        <textarea v-model="form.full_description" class="w-full px-3 py-2 border border-gray-300 rounded" rows="4"></textarea>
                    </div>
                    <div>
                        <label class="block mb-1 font-semibold">Status</label>
                        <select v-model="form.status_id" class="w-full px-3 py-2 border border-gray-300 rounded">
                            <option v-for="status in statusesList" :value="status.id">{{ status.name }}</option>
                        </select>
                    </div>
                    <div>
                        <label class="block mb-1 font-semibold">Assign it</label>
                        <select v-model="form.user_id" class="w-full px-3 py-2 border border-gray-300 rounded">
                            <option v-for="user in usersList" :value="user.user.id" :selected="user.user.id === form.user_id">{{ user.user.name }} - {{ user.user.id }}</option>
                        </select>
                    </div>

                    <div>
                        <label class="block mb-1 font-semibold">Priority</label>
                        <div class="flex items-center">
                            <div :class="{'bg-red-500': form.priority_id === 3}" class="w-6 h-6 rounded-full border border-gray-300 mr-1 cursor-pointer" @click="setPriority(3)">
                                <span class="sr-only">High</span>
                            </div>
                            <div :class="{'bg-yellow-500': form.priority_id === 2}" class="w-6 h-6 rounded-full border border-gray-300 mr-1 cursor-pointer" @click="setPriority(2)">
                                <span class="sr-only">Middle</span>
                            </div>
                            <div :class="{'bg-green-500': form.priority_id === 1}" class="w-6 h-6 rounded-full border border-gray-300 cursor-pointer" @click="setPriority(1)">
                                <span class="sr-only">Low</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="block mb-1 font-semibold">Due Time</label>
                        <input v-model="form.due_time" type="date" class="w-full px-3 py-2 border border-gray-300 rounded" :min="today" :max="maxDueDate" />
                    </div>


                    <div class="col-span-2 flex justify-end mt-4">
                        <button @click.prevent="cancel" class="px-4 py-2 bg-teal-700 text-white rounded mr-2">Back</button>
                        <button @click.prevent="updateTask" class="px-4 py-2 bg-blue-700 text-white rounded" type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<style>
/* Стили для обозначения ошибок валидации */
input.error,
textarea.error,
select.error {
    border-color: #e53e3e;
}

div.error {
    color: #e53e3e;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
</style>
