<script setup>
import {useForm, usePage} from "@inertiajs/vue3";
import {onMounted, reactive, ref, watch} from "vue";
import Notification from "@/Components/Notification.vue";

const { props } = usePage();
const tracker_id = props.tracker_id

const tracker = ref({})

const notification = reactive({
    show: false,
    message: ''
});


const form = useForm({
    title: '',
    description: '',
    user_id: null
})

const getTracker = async () => {
    try {
        const response = await fetch(`/trackers/get-info/${tracker_id}`)

        if (response.ok){
            const data = await response.json()
            tracker.value = data.data
            form.title = tracker.value.title;
            form.description = tracker.value.description;
            form.user_id = tracker.value.user_id;
        }
    }catch (e){
        console.error('fetch error')
    }
}
const update = async () => {
    const response = await fetch(`/trackers/${tracker_id}/update`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(form)
    });

    if (response.ok){
        const data = await response.json()
        showSuccessNotification('Tracker was updated!')
        console.log(data);
    } else {
        showSuccessNotification('Error')
    }
}

watch(notification, (newVal) => {
    if (newVal.show) {
        setTimeout(() => {
            closeNotification();
        }, 3000);
    }
});

function showSuccessNotification(message) {
    notification.show = true;
    notification.message = message;
}

function closeNotification() {
    notification.show = false;
}

onMounted(getTracker)
</script>


<template>

    <Notification
        v-if="notification.show === true"
        :message="notification.message"
    />


    <div class="w-full h-screen flex items-center justify-center bg-gray-100">
        <div class="w-96 bg-white border-2 border-teal-700 p-10 rounded-lg shadow-xl">
            <div class="flex items-center justify-between mb-6">
                <div class="text-2xl font-semibold">Update Tracker</div>
            </div>
            <div>
                <div class="text-lg font-semibold mb-2">Tracker Name</div>
                <input v-model="form.title" class="w-full h-12 px-4 py-2 border-2 border-teal-700 rounded-md shadow-sm focus:outline-none focus:border-teal-900" placeholder="Tracker name..." />
            </div>
            <div class="mt-6">
                <div class="text-lg font-semibold mb-2">About Project</div>
                <textarea v-model="form.description" class="w-full h-24 px-4 py-2 border-2 border-teal-700 rounded-md shadow-sm focus:outline-none focus:border-teal-900" placeholder="Project description..." ></textarea>
            </div>
            <div class="mt-6">
                <button @click.prevent="update" class="w-full h-12 bg-teal-700 text-white rounded-md shadow-sm hover:bg-teal-800">Update Tracker</button>
            </div>
        </div>
    </div>

</template>
