<script setup>

import { defineProps, defineEmits } from 'vue';
import SidebarMenu from "@/Pages/Tracker/Sidebar/TrackerSidebarMenu.vue";
import SidebarHeader from "@/Pages/Tracker/Sidebar/TrackerSidebarHeader.vue";

const props = defineProps({
    selectedElement: {
        type: String,
        default: null
    },
    tracker_id: {
        type: Number
    }
});

const emits = defineEmits(['update-content']);

function selectElement(element) {
    emits('update-content', element);
}


</script>

<template>
    <div class="w-full h-full bg-white border-r-2 border-gray-200">
        <div>
            <SidebarHeader />
        </div>
        <div>
            <SidebarMenu :selectedElement="selectedElement" :tracker_id="tracker_id" @select-element="selectElement" />
        </div>
    </div>

</template>

<style scoped>

</style>
