<script setup>
import TaskInfoHeader from "@/Pages/Tracker/TaskInfoComponents/TaskInfoHeader.vue";
import TaskInfoMain from "@/Pages/Tracker/TaskInfoComponents/TaskInfoMain.vue";
import TaskInfoDescription from "@/Pages/Tracker/TaskInfoComponents/TaskInfoDescription.vue";
import TaskInfoComments from "@/Pages/Tracker/TaskInfoComponents/TaskInfoComments.vue";
import {ref} from "vue";

defineProps({
    task: {
        type: Object,
        required: true
    },
});

const selectedElement = ref('Comments');

function selectElement(element) {
    selectedElement.value = element;
}

</script>

<template>
    <div class="w-full min-h-screen bg-gray-200 flex items-center justify-center">
        <div class="w-3/5 min-h-[54em] bg-white shadow-lg rounded-2xl px-8 py-2 mx-auto">
            <TaskInfoHeader :task="task"/>
            <TaskInfoMain :task="task"/>

            <div class="mt-8 flex font-medium text-xl w-[96%] mx-auto pb-8 text-gray-800 ">
                <div
                    :class="{ 'border-blue-600': selectedElement === 'Description', 'text-blue-500': selectedElement === 'Description' }"
                    class="w-[280px] pb-5 cursor-pointer border-b-4 border-gray-200 text-start transition-all duration-300 ease-in-out"
                    @click.prevent="selectElement('Description')"
                >Description
                </div>
                <div
                    :class="{ 'border-blue-600': selectedElement === 'Comments', 'text-blue-500': selectedElement === 'Comments' }"
                    class="w-[380px] pb-5 cursor-pointer border-b-4 border-gray-200 text-center flex items-center justify-center space-x-4 transition-all duration-300 ease-in-out"
                    @click.prevent="selectElement('Comments')"
                >
                    <div>Comments</div>
                    <div class="min-w-6 min-h-6 p-1 bg-gray-100 flex items-center justify-center">
                        <div class="text-sm text-blue-500 font-semibold">
                            {{task.data.comments.length}}
                        </div>
                    </div>
                </div>
                <div class="w-full pb-5 border-b-4 border-gray-200 transition-all duration-300 ease-in-out"></div>
            </div>

            <TaskInfoDescription
                :task="task"
                v-if="selectedElement === 'Description'"
                class="transition-all duration-300 ease-in-out"
            />

            <TaskInfoComments
                :task="task"
                v-if="selectedElement === 'Comments'"
                class="transition-all duration-300 ease-in-out"
            />

        </div>
    </div>

</template>
