<script setup>
import { defineProps, defineEmits } from 'vue';
import {Link} from "@inertiajs/vue3";

const props = defineProps(['task', 'tracker_id', 'updateData']);
const emits = defineEmits(['incremented', 'decremented']);

const tracker_id = props.tracker_id

async function increment(id) {
    const url = `/trackers/tasks/${id}/change-status/increment`;

    try {
        const response = await fetch(url, {
            method: 'PATCH',
        });

        if (response.ok) {
            const data = await response.json();
            emits('incremented');
            props.updateData();
            console.log('Response:', data);
        } else {
            console.error('Error:', response.status);
        }
    } catch (error) {
        console.error('Error:', error);
    }
}

async function decrement(id) {
    const url = `/trackers/tasks/${id}/change-status/decrement`;

    try {
        const response = await fetch(url, {
            method: 'PATCH',
        });

        if (response.ok) {
            const data = await response.json();
            emits('decremented');
            props.updateData();
            console.log('Response:', data);
        } else {
            console.error('Error:', response.status);
        }
    } catch (error) {
        console.error('Error:', error);
    }
}

</script>


<template>
    <div
        class="w-full h-[5em] bg-gray-100 shadow-l shadow-gray-200 border-2 border-teal-700 rounded-2xl flex items-center justify-between">
        <div class="pl-1 flex items-center justify-center">
            <div class="ml-6 flex-col items-center justify-center">


                <div class="text-xl font-extrabold">
                    {{task.title}}
                </div>


                <div class="flex  items-center justify-center space-x-6">
                    <div class="flex items-center justify-center">
                        <div>
                            <img class="w-5" src="../../../../public/img/icon/date.svg">
                        </div>
                        <div>
                            Due Time:
                        </div>
                    </div>
                    <div>
                        {{task.due_time_for_user}}
                    </div>
                </div>
            </div>
        </div>
        <div class="w-10 h-full bg-teal-700 rounded-r-2xl relative left-1">

            <Link :href="`/trackers/${tracker_id}/tasks/${task.id}`">

            <div class="w-full h-full flex items-center justify-center cursor-pointer">
                <div><img class="w-8" src="../../../../public/img/icon/arrow2.svg"></div>
            </div>
            </Link>

        </div>
    </div>
    <div class="w-60 flex items-center justify-between px-4">
        <div
            @click.prevent="decrement(task.id)"
            class="bg-teal-700 w-20 h-8 text-white font-semibold rounded-2xl flex items-center justify-center cursor-pointer">
            <div>Prev</div>
        </div>
        <div
            @click.prevent="increment(task.id)"
            class="bg-teal-700 w-20 h-8 text-white font-semibold rounded-2xl flex items-center justify-center cursor-pointer">
            <div>Next</div>
        </div>
    </div>
</template>

