<script setup>

import TeamHeader from "@/Pages/Tracker/TeamComponents/TeamHeader.vue";
import TeamContent from "@/Pages/Tracker/TeamComponents/TeamContent.vue";
import {usePage} from "@inertiajs/vue3";

const { props } = usePage();
const tracker_id = props.tracker_id
</script>

<template>
<div class="w-full h-full">
    <div>
        <TeamHeader/>
    </div>
    <div>
        <TeamContent :tracker_id="tracker_id"/>
    </div>
</div>
</template>

<style scoped>

</style>
