<script setup>
import {onMounted, ref} from "vue";
import Sidebar from "@/Pages/Tracker/Sidebar.vue";
import TrackerZone from "@/Pages/Tracker/AnalyticsComponents/Analytics.vue";
import Workflow from "@/Pages/Tracker/Workflow.vue";
import Workspace from "@/Pages/Tracker/Workspace.vue";
import Control from "@/Pages/Tracker/Control.vue";
import {usePage} from "@inertiajs/vue3";
import Team from "@/Pages/Tracker/Team.vue";
import Archive from "@/Pages/Tracker/Archive.vue";
import Settings from "@/Pages/Tracker/Settings.vue";


const { props } = usePage();
const tracker_id = props.tracker_id

const selectedElement = ref('Analytics');

function updateContent(element) {
    selectedElement.value = element;
    console.log(element);
}

</script>

<template>
    <div>
        <div class="w-full min-h-screen bg-white grid grid-cols-7">
            <div class="col-span-1">
                <Sidebar :selectedElement="selectedElement" :tracker_id="tracker_id" @update-content="updateContent"/>
            </div>
            <div class="col-span-6 w-full h-full">
                <TrackerZone v-if="selectedElement === 'Analytics'" :tracker_id="tracker_id"/>
                <Workflow v-if="selectedElement === 'Workflow'" :tracker_id="tracker_id"/>
                <Workspace v-if="selectedElement === 'Workspace'" :tracker_id="tracker_id"/>
                <Team v-if="selectedElement === 'Team'" :tracker_id="tracker_id" />
                <Archive v-if="selectedElement === 'Archive'" :tracker_id="tracker_id" />
                <Settings v-if="selectedElement === 'Settings'" :tracker_id="tracker_id" />
            </div>

        </div>
    </div>
</template>

