<script setup>
import WorkspaceHeader from "@/Pages/Tracker/WorkspaceComponents/WorkspaceHeader.vue";
import WorkspaceContent from "@/Pages/Tracker/WorkspaceComponents/WorkspaceContent.vue";
import {usePage} from "@inertiajs/vue3";

const { props } = usePage();
const tracker_id = props.tracker_id
</script>

<template>
    <div class="w-full h-full flex flex-col space-y-8">
        <div class="w-full">
            <WorkspaceHeader />
        </div>
        <div class="w-full px-36">
            <WorkspaceContent :tracker_id="tracker_id"/>
        </div>
    </div>
</template>

<style scoped>

</style>
