<script setup>
import WorkflowZone from "@/Pages/Tracker/WorkflowComponents/WorkflowZone.vue";
import {usePage} from "@inertiajs/vue3";

const { props } = usePage();
const tracker_id = props.tracker_id

</script>

<template>
    <div class="w-full">
        <WorkflowZone :tracker_id="tracker_id"/>
    </div>
</template>

<style scoped>

</style>
