<script setup>
import {Head, Link, useForm} from '@inertiajs/vue3';
import ApplicationLogo from "@/Components/ApplicationLogo.vue";
</script>

<template>

    <div class="w-full py-4B flex items-center justify-between py-8">

        <div class="w-16 h-16 rounded-full flex justify-center items-center ml-32">
            <ApplicationLogo class="w-12"></ApplicationLogo>
        </div>

        <div class="flex justify-center flex-grow text-2xl font-bold space-x-12">
            <div class="text-gray-900 cursor-pointer">Welcome</div>
            <div class="text-gray-600 cursor-pointer">Features</div>
            <div class="text-gray-600 cursor-pointer">About</div>
            <div class="text-gray-600 cursor-pointer">Contacts</div>
        </div>

        <div class="flex justify-end items-center w-1/12 mr-32">
            <Link href="/login">
                <button
                    class="bg-orange-500 text-white font-bold py-2 px-6 rounded-full shadow-md hover:text-gray-700 w-full text-2xl font-medium">
                    Join Us
                </button>
            </Link>
        </div>

    </div>


</template>

<style scoped>

</style>
