<script setup>
import {defineProps} from 'vue';
import {Link} from "@inertiajs/vue3";

const props = defineProps(['task', 'tracker_id']);
const task = props.task
</script>

<template>
    <div class="w-[80em] h-[4em] border-b-2 border-gray-200 bg-white flex items-center justify-start pl-3">
        <div class="flex items-center justify-center space-x-3 cursor-pointer h-[3em] pr-6 border-r-2 border-gray-200">

            <Link :href="`/trackers/${tracker_id}/tasks/${task.id}`">
                <div class="text-xl font-semibold hover:border-b-2 hover:border-blue-600 text-gray-800">
                    {{ task.title }}
                </div>
            </Link>

        </div>
        <div
            class="grid grid-cols-3 items-center justify-center ml-3 space-x-2 h-[3em] border-r-2 border-gray-200 pr-3">
            <div>{{ task.short_description }}</div>
        </div>
        <div class="flex items-center justify-center ml-auto h-[4em] border-r-2 border-gray-200">
            <div
                :class="{
                      'bg-blue-800': task.status.name === 'frozen',
                      'bg-teal-700': task.status.name === 'planned',
                      'bg-yellow-500': task.status.name === 'in progress',
                      'bg-orange-600': task.status.name === 'in review',
                      'bg-green-700': task.status.name === 'completed',
                        }" class="w-[8em] h-[4em] flex items-center justify-center">
                <div class="text-white text-2xl">{{ task.status.name }}</div>
            </div>

        </div>

        <div class="flex items-center justify-center h-[4em] border-r-2 border-gray-200">
            <div class="w-[18em] h-[4em] px-4 text-center border-r-2 border-gray-200 flex items-center justify-center">
                <div class="text-black flex flex-col items-center justify-start">
                    <div class="font-medium cursor-pointer text-l">{{ task.user.name }}</div>
                    <div>@{{ task.user.id }}</div>
                </div>
            </div>
        </div>

        <div class="flex items-center justify-center h-[4em] border-r-2 border-gray-200">
            <div class="w-[9em] h-[4em] px-4 text-center border-r-2 border-gray-200 flex items-center justify-center">
                <div>
                    <img
                        v-if="task.priority.name === 'Low'"
                        class="w-10" src="../../../../../../public/img/icon/low_priority.svg">
                    <img
                        v-if="task.priority.name === 'Middle'"
                        class="w-10" src="../../../../../../public/img/icon/middle_priority.svg">
                    <img
                        v-if="task.priority.name === 'High'"
                        class="w-10" src="../../../../../../public/img/icon/high_priority.svg">
                </div>
            </div>
        </div>

        <div class="flex items-center justify-center h-[4em]">
            <div class="w-[12em] h-[4em] px-4 text-center border-r-2 border-gray-200 flex items-center justify-center">
                <div class="text-black text-l">
                    <div class="cursor-pointer text-xl">{{ task.due_time_for_user }}</div>
                </div>
            </div>
        </div>

    </div>
</template>


<style scoped>

</style>
