<script setup>
import { onMounted, ref, reactive, watch } from 'vue';
import TaskComponent from '@/Pages/Tracker/WorkflowComponents/AvailableComponents/TaskComponent.vue';
import { usePage } from '@inertiajs/vue3';
import Notification from "@/Components/Notification.vue";

const { props } = usePage();
const tracker_id = props.tracker_id;

const tasks = ref([]);
const todayTasks = ref([]);
const tomorrowTasks = ref([]);
const thisWeekTasks = ref([]);
const nextWeekTasks = ref([]);

const notification = reactive({
    show: false,
    message: ''
});


function updateContent(message) {
    showSuccessNotification(message);
}

watch(notification, (newVal) => {
    if (newVal.show) {
        setTimeout(() => {
            closeNotification();
        }, 3000);
    }
});

async function fetchData() {
    try {
        const response = await fetch(`/trackers/${tracker_id}/get-tasks-available`);
        if (response.ok) {
            const data = await response.json();
            tasks.value = data.data;
            updateTaskLists();
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }
}

onMounted(fetchData);

function refreshData() {
    fetchData();
}

function updateTaskLists() {
    const today = new Date();
    today.setHours(0, 0, 0, 0);
    const tomorrow = new Date(today);
    tomorrow.setDate(tomorrow.getDate() + 1);
    const nextWeek = new Date(today);
    nextWeek.setDate(nextWeek.getDate() + 7);

    todayTasks.value = tasks.value.filter(task => {
        const dueTime = new Date(task.due_time);
        return dueTime >= today && dueTime < tomorrow;
    });

    tomorrowTasks.value = tasks.value.filter(task => {
        const dueTime = new Date(task.due_time);
        const dayAfterTomorrow = new Date(tomorrow);
        dayAfterTomorrow.setDate(dayAfterTomorrow.getDate() + 1);
        return dueTime >= tomorrow && dueTime < dayAfterTomorrow;
    });

    const endOfWeek = new Date(nextWeek);
    endOfWeek.setDate(endOfWeek.getDate() + 7);

    thisWeekTasks.value = tasks.value.filter(task => {
        const dueTime = new Date(task.due_time);
        return dueTime >= nextWeek && dueTime < endOfWeek;
    });

    nextWeekTasks.value = tasks.value.filter(task => {
        const dueTime = new Date(task.due_time);
        return dueTime >= endOfWeek;
    });
}



function showSuccessNotification(message) {
    notification.show = true;
    notification.message = message;
}

function closeNotification() {
    notification.show = false;
}
</script>


<template>
    <div class="w-full h-full">

        <Notification
            v-if="notification.show"
            :notificationShow="notification.show"
            @close="closeNotification"
            :message="notification.message"
            class="fixed bottom-0 right-0"
        />

        <div>
            <div class="flex-grow border-l-8 border-red-500 mb-12">
                <div class="flex justify-between">
                    <div
                        class="flex items-center justify-between w-[16em] h-[4em] bg-gray-100 border-r-2 border-t-2 border-gray-00 px-6 space-x-5">
                        <div class="text-xl font-semibold flex-shrink-0 text-gray-800">Today ></div>
                        <div
                            class="w-10 h-6 rounded-2xl border-2 border-gray-400 text-center font-semibold flex items-center justify-center">
                            <div>{{todayTasks.length}}</div>
                        </div>
                    </div>
                    <div class="flex items-end space-x-36 text-xl text-gray-800">
                        <div class="">Take</div>
                        <div class="relative right-7">Priority</div>
                        <div class="relative right-14">Views</div>
                        <div class="relative right-16">Due Time</div>
                    </div>
                </div>

                <div
                    v-if="todayTasks.length === 0"
                    class="w-[80em] h-[4em] border-b-2 border-gray-200 bg-white flex items-center justify-start pl-3">
                    <div class="text-2xl text-gray-800">You have no tasks available for today</div>
                </div>

                <div
                    v-for="task in todayTasks"
                    class="border-t-2 border-gray-200 space-y-3">
                    <TaskComponent
                        :task="task"
                        :tracker_id="tracker_id"
                        :showNotification="notification.show"
                        :updateData="refreshData"
                        @update-content="updateContent"
                        @take="showSuccessNotification"
                    />
                </div>
            </div>

            <div class="flex-grow border-l-8 border-red-600 mb-12">
                <div class="flex justify-between">
                    <div
                        class="flex items-center justify-between w-[16em] h-[4em] bg-gray-100 border-r-2 border-t-2 border-gray-00 px-6 space-x-5">
                        <div class="text-xl font-semibold flex-shrink-0 text-gray-800">Tomorrow ></div>
                        <div
                            class="w-10 h-6 rounded-2xl border-2 border-gray-400 text-center font-semibold flex items-center justify-center">
                            <div>{{tomorrowTasks.length}}</div>
                        </div>
                    </div>

                </div>

                <div
                    v-if="tomorrowTasks.length === 0"
                    class="w-[80em] h-[4em] border-b-2 border-gray-200 bg-white flex items-center justify-start pl-3">
                    <div class="text-2xl text-gray-800">You have no tasks available for tomorrow</div>
                </div>

                <div
                    v-for="task in tomorrowTasks"
                    class="border-t-2 border-gray-200 space-y-3">
                    <TaskComponent
                        :task="task"
                        :tracker_id="tracker_id"
                        :showNotification="notification.show"
                        :updateData="refreshData"
                        @update-content="updateContent"
                        @take="showSuccessNotification"
                    />
                </div>
            </div>


            <div class="flex-grow border-l-8 border-red-700 mb-12">
                <div class="flex justify-between">
                    <div
                        class="flex items-center justify-between w-[16em] h-[4em] bg-gray-100 border-r-2 border-t-2 border-gray-00 px-6 space-x-5">
                        <div class="text-xl font-semibold flex-shrink-0 text-gray-800">This Week ></div>
                        <div
                            class="w-10 h-6 rounded-2xl border-2 border-gray-400 text-center font-semibold flex items-center justify-center">
                            <div>{{thisWeekTasks.length}}</div>
                        </div>
                    </div>
                </div>

                <div
                    v-if="thisWeekTasks.length === 0"
                    class="w-[80em] h-[4em] border-b-2 border-gray-200 bg-white flex items-center justify-start pl-3">
                    <div class="text-2xl text-gray-800">You have no tasks available for this week</div>
                </div>

                <div
                    v-for="task in thisWeekTasks"
                    class="border-t-2 border-gray-200 space-y-3">
                    <TaskComponent
                        :task="task"
                        :tracker_id="tracker_id"
                        :showNotification="notification.show"
                        :updateData="refreshData"
                        @update-content="updateContent"
                        @take="showSuccessNotification"
                    />
                </div>
            </div>

            <div class="flex-grow border-l-8 border-red-800 mb-12">
                <div class="flex justify-between">
                    <div
                        class="flex items-center justify-between w-[16em] h-[4em] bg-gray-100 border-r-2 border-t-2 border-gray-00 px-6 space-x-5">
                        <div class="text-xl font-semibold flex-shrink-0 text-gray-800">Next Week ></div>
                        <div
                            class="w-10 h-6 rounded-2xl border-2 border-gray-400 text-center font-semibold flex items-center justify-center">
                            <div>{{nextWeekTasks.length}}</div>
                        </div>
                    </div>
                </div>

                <div
                    v-if="nextWeekTasks.length === 0"
                    class="w-[80em] h-[4em] border-b-2 border-gray-200 bg-white flex items-center justify-start pl-3">
                    <div class="text-2xl text-gray-800">You have no tasks available for next week</div>
                </div>

                <div
                    v-for="task in nextWeekTasks"
                    class="border-t-2 border-gray-200 space-y-3">
                    <TaskComponent
                        :task="task"
                        :tracker_id="tracker_id"
                        :showNotification="notification.show"
                        :updateData="refreshData"
                        @update-content="updateContent"
                        @take="showSuccessNotification"
                    />
                </div>
            </div>


        </div>
    </div>


</template>
