<template>
    <div class="flex justify-center items-center h-screen text-black">
        <div class="max-w-md w-full pl-8 border-l-8 border-teal-700">
            <h2 class="text-2xl font-bold mb-4">Create Task</h2>
            <form @submit.prevent="createTask">
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block mb-1 font-semibold">Title</label>
                        <input v-model="form.title" type="text" class="w-full px-3 py-2 border border-gray-300 rounded" />
                        <div v-if="form.errors.title" class="text-red-500">{{ form.errors.title[0] }}</div>
                    </div>
                    <div>
                        <label class="block mb-1 font-semibold">Short Description</label>
                        <input v-model="form.short_description" type="text" class="w-full px-3 py-2 border border-gray-300 rounded" />
                        <div v-if="form.errors.short_description" class="text-red-500">{{ form.errors.short_description[0] }}</div>
                    </div>
                    <div class="col-span-2">
                        <label class="block mb-1 font-semibold">Full Description</label>
                        <textarea v-model="form.full_description" class="w-full px-3 py-2 border border-gray-300 rounded" rows="4"></textarea>
                        <div v-if="form.errors.full_description" class="text-red-500">{{ form.errors.full_description[0] }}</div>
                    </div>
                    <div>
                        <label class="block mb-1 font-semibold">Status</label>
                        <select v-model="form.status_id" class="w-full px-3 py-2 border border-gray-300 rounded">
                            <option v-for="status in filteredStatuses" :value="status.id">{{ status.name }}</option>
                        </select>
                        <div v-if="form.errors.status_id" class="text-red-500">{{ form.errors.status_id[0] }}</div>
                    </div>
                    <div>
                        <label class="block mb-1 font-semibold">Assign it</label>
                        <select v-model="form.user_id" class="w-full px-3 py-2 border border-gray-300 rounded">
                            <option v-for="user in usersList" :value="user.user.id">{{ user.user.name }} - {{ user.user.id }}</option>
                        </select>
                        <div v-if="form.errors.user_id" class="text-red-500">{{ form.errors.user_id[0] }}</div>
                    </div>
                    <div>
                        <label class="block mb-1 font-semibold">Priority</label>
                        <div class="flex items-center">
                            <div :class="{'bg-red-500': form.priority_id === 3}" class="w-6 h-6 rounded-full border border-gray-300 mr-1 cursor-pointer" @click="setPriority(3)">
                                <span class="sr-only">High</span>
                            </div>
                            <div :class="{'bg-yellow-500': form.priority_id === 2}" class="w-6 h-6 rounded-full border border-gray-300 mr-1 cursor-pointer" @click="setPriority(2)">
                                <span class="sr-only">Middle</span>
                            </div>
                            <div :class="{'bg-green-500': form.priority_id === 1}" class="w-6 h-6 rounded-full border border-gray-300 cursor-pointer" @click="setPriority(1)">
                                <span class="sr-only">Low</span>
                            </div>
                        </div>
                        <div v-if="form.errors.priority_id" class="text-red-500">{{ form.errors.priority_id[0] }}</div>
                    </div>
                    <div>
                        <label class="block mb-1 font-semibold">Due Time</label>
                        <input v-model="form.due_time" type="datetime-local" class="w-full px-3 py-2 border border-gray-300 rounded" :min="today" :max="maxDueDate" />
                        <div v-if="form.errors.due_time" class="text-red-500">{{ form.errors.due_time[0] }}</div>
                    </div>

                    <div class="col-span-2 flex justify-end mt-4">
                        <button @click.prevent="cancel" class="px-4 py-2 bg-teal-700 text-white rounded mr-2">Cancel</button>
                        <button class="px-4 py-2 bg-blue-700 text-white rounded" type="submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script setup>
import { onMounted, ref } from 'vue';
import { Link, useForm, usePage } from "@inertiajs/vue3";
import { router } from "@inertiajs/vue3";
import {computed} from "vue";

const { props } = usePage();
const tracker_id = props.tracker_id;

const usersList = ref([]);
const statusesList = ref([]);
const prioritiesList = ref([]);

const today = ref(new Date().toISOString().slice(0, 10));

onMounted(async () => {
    try {
        const response = await fetch(`/trackers/${tracker_id}/get-users-by-tracker`);
        if (response.ok) {
            const data = await response.json();
            usersList.value = data.data;
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }

    try {
        const response = await fetch(`/statuses`);
        if (response.ok) {
            const data = await response.json();
            statusesList.value = data.data;
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }

    try {
        const response = await fetch(`/priorities`);
        if (response.ok) {
            const data = await response.json();
            prioritiesList.value = data.data;
        } else {
            throw new Error('Error while executing request');
        }
    } catch (error) {
        console.error(error);
    }
});

const form = useForm({
    title: '',
    short_description: '',
    full_description: '',
    status_id: '',
    priority_id: 1,
    user_id: '',
    tracker_id: tracker_id,
    due_time: today,
    views_count: 1
});

const setPriority = (priorityId) => {
    form.priority_id = priorityId;
};

function createTask() {
    if (form.user_id !== '') {
        form.status_id = [2, 3, 4, 5].includes(form.status_id) ? form.status_id : 2;
    } else {
        form.status_id = 1;
    }
    form.post(route('tracker.workflow.tasks.store', { tracker: tracker_id }), {
        onFinish: () => form.reset('due_time'),
    });
}

function cancel() {
    router.visit(`/trackers/${tracker_id}`);
}

const filteredStatuses = computed(() => {
    const disabledStatusIds = [6, 7];
    return statusesList.value.filter(status => !disabledStatusIds.includes(status.id));
});
</script>

<style>
input.error,
textarea.error,
select.error {
    border-color: #e53e3e;
}

div.error {
    color: #e53e3e;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
</style>
