<script setup>
import {router, usePage} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";

const { props } = usePage();
const tracker_id = props.tracker_id

function newTask(){
    router.visit(`/trackers/${tracker_id}/tasks/create`)
}

const role = ref({})

const getRole = async () => {
    try {
        const response = await fetch(`/trackers/${tracker_id}/get-role`)
        if (response.ok){
            const data = await response.json()
            role.value = data
        }
    } catch (e){
        console.error('fetch error')
    }

}

onMounted(getRole)
</script>

<template>
    <div class="w-full h-16 p-4 border-b-2 border-gray-200 flex items-center justify-start">
        <div class="text-gray-700">Workflow ></div>
    </div>
    <div class="px-36 pt-12 flex justify-between items-center">
        <div class="text-3xl">TrackerName</div>
        <div v-show="parseInt(role.role_id) === 3">
            <button
                @click.prevent="newTask"
                class="w-36 h-10 bg-teal-700 text-white text-l rounded-full">
                New Task
            </button>
        </div>
    </div>
</template>
