<script setup>
import WorkflowHeader from "@/Pages/Tracker/WorkflowComponents/WorkflowHeader.vue";
import WorkflowContent from "@/Pages/Tracker/WorkflowComponents/WorkflowContent.vue";
import {usePage} from "@inertiajs/vue3";

const { props } = usePage();
const tracker_id = props.tracker_id
</script>

<template>
    <div>
        <WorkflowHeader :tracker_id="tracker_id"/>
    </div>
    <div class="container mx-auto w-full px-32 w-full h-full mt-10">
        <WorkflowContent :tracker_id="tracker_id"/>
    </div>
</template>

<style scoped>

</style>
