<script setup>
import { ref } from 'vue';

import InProgress from "@/Pages/Tracker/WorkflowComponents/InProgress.vue";
import Available from "@/Pages/Tracker/WorkflowComponents/Available.vue";
import {usePage} from "@inertiajs/vue3";

const { props } = usePage();
const tracker_id = props.tracker_id

const selectedMenu = ref('inProgress');

const selectMenu = (menu) => {
    selectedMenu.value = menu;
};
</script>

<template>
    <div class="w-full h-full grid grid-cols-2 space-y-10">
        <div class="col-span-2 flex items-center justify-start text-2xl uppercase font-semibold space-x-8 border-b-2 border-gray-200 pb-6">
            <div
                class="cursor-pointer menu-item opacity-75"
                :class="{
                    'border-b-2 border-red-500': selectedMenu === 'inProgress',
                    'text-gray-600 hover:text-blue-500': selectedMenu !== 'inProgress'
                }"
                @click="selectMenu('inProgress')"
            >
                In Progress
            </div>
            <div
                class="cursor-pointer menu-item opacity-75"
                :class="{
                    'border-b-2 border-red-500': selectedMenu === 'available',
                    'text-gray-600 hover:text-blue-500': selectedMenu !== 'available'
                }"
                @click="selectMenu('available')"
            >
                Available
            </div>
        </div>
        <div class="w-full h-full flex items-center">
            <div v-if="selectedMenu === 'inProgress'">
                <InProgress :tracker_id="tracker_id"/>
            </div>
            <div v-else-if="selectedMenu === 'available'">
                <Available :tracker_id="tracker_id"/>
            </div>
        </div>
    </div>
</template>
