<script setup>

import Description from "@/Pages/WelcomeComponents/Content/MainDescription.vue";
import SecondaryDescription from "@/Pages/WelcomeComponents/Content/SecondaryDescription.vue";
</script>

<template>
    <Description></Description>
    <SecondaryDescription></SecondaryDescription>
</template>

<style scoped>

</style>
