<script setup>

</script>

<template>
    <div class="w-1/3 py-12">
        <div class="font-medium text-5xl space-x-4 space-y-3">
            <div class="ml-6">Control Your Workflow</div>
            <div>With The <span class="text-orange-500 font-extrabold">Tasks-Tracker</span></div>
        </div>
        <div class="mt-8 text-xl text-gray-600">
            <span>An organizational tool for managing tasks, monitoring progress, setting priorities, deadlines, and facilitating project communication.</span>
        </div>
        <div class="flex justify-center items-center space-x-16 mt-8 text-xl font-medium">
            <div><button class="bg-orange-500 text-white w-48 h-10 rounded-full hover:text-gray-800">Start</button></div>
            <div><button class="bg-white w-48 h-10 rounded-full hover:text-orange-500">Learn More</button></div>
        </div>
    </div>

</template>

<style scoped>

</style>
