<script setup>

</script>

<template>

    <div class="container w-full">
        <div class="grid grid-cols-2 justify-center items-center w-full py-16">

            <div class="flex justify-center items-center p-4">
                <div class="h-[300px] w-[500px] bg-white p-6 ">

                    <div class="w-full flex items-center">
                        <div class="flex items-center justify-center bg-orange-500 w-6 h-6 text-white font-extrabold">
                            1
                        </div>
                        <div class="text-2xl ml-4 text-gray-800">track progress</div>
                    </div>

                    <div class="w-full mt-8 grid grid-cols-3 text-xl">

                        <div class="w-32 h-40 border-4 border-orange-500 bg-gray-100 flex flex-col items-center">

                            <div class="w-full h-8 bg-orange-500">
                                <div class="text-white text-center font-medium">in review</div>
                            </div>

                            <div class="w-24 mt-4 h-8 bg-indigo-500 text-center text-white">task #3</div>

                            <div class="w-24 mt-4 h-8 bg-indigo-500 text-center text-white">task #4</div>

                        </div>

                        <div>
                            <div class="w-24 mt-20 ml-10 h-8 bg-indigo-500 text-center text-white">task #2</div>
                            <div><img class="w-10 ml-20 mt-2 transform rotate-[50deg]"
                                      src="../../../../../public/img/icon/hand-switch.svg"></div>
                        </div>


                        <div class="w-32 h-40 border-4 border-green-500 bg-gray-100 flex flex-col items-center">
                            <div class="w-full h-8 bg-green-500">
                                <div class="text-white text-center font-medium">completed</div>
                            </div>
                            <div class="w-24 mt-4 h-8 bg-indigo-500 text-center text-white">task #1</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="flex justify-center items-center p-4">
                <div class="h-[300px] w-[500px] bg-white p-6">
                    <div class="w-full flex items-center">
                        <div class="flex items-center justify-center bg-orange-500 w-6 h-6 text-white font-extrabold">
                            2
                        </div>
                        <div class="text-2xl ml-4 text-gray-800">analytics</div>
                    </div>

                    <div class="mt-10 w-full flex justify-center">

                        <div
                            class="w-32 h-40 border-4 border-indigo-400 bg-gray-100 mx-2 flex items-center justify-center">
                            <div>
                                <img class="w-24" src="../../../../../public/img/icon/statistic1.svg">
                            </div>
                        </div>

                        <div
                            class="w-32 h-40 border-4 border-indigo-500 bg-gray-100 mx-2 flex items-center justify-center">
                            <div>
                                <img class="w-24" src="../../../../../public/img/icon/statistic2.svg">
                            </div>
                        </div>

                        <div
                            class="w-32 h-40 border-4 border-indigo-700 bg-gray-100 mx-2 flex items-center justify-center">
                            <div>
                                <img class="w-24" src="../../../../../public/img/icon/statistic3.svg">
                            </div>
                        </div>


                    </div>


                </div>
            </div>

            <div class="flex justify-center items-center p-4">
                <div class="h-[300px] w-[500px] bg-white p-6">
                    <div class="w-full flex items-center">
                        <div class="flex items-center justify-center bg-orange-500 w-6 h-6 text-white font-extrabold">
                            3
                        </div>
                        <div class="text-2xl ml-4 text-gray-800">meet deadlines and prioritize</div>
                    </div>

                    <div class="mt-10 w-full flex items-center justify-center space-x-12">

                        <div class="w-48 h-36 border-4 border-orange-500 bg-gray-200 flex items-center justify-center">
                            <div class="w-28 h-28 rounded-full bg-white flex items-center justify-center">
                                <img class="w-20" src="../../../../../public/img/icon/priority.svg">
                            </div>
                        </div>

                        <div class="w-48 h-36 border-4 border-green-500 bg-gray-200 flex items-center justify-center">
                            <div class="w-28 h-28 rounded-full bg-white flex items-center justify-center">
                                <img class="w-20" src="../../../../../public/img/icon/deadline.svg">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="flex justify-center items-center p-4">
                <div class="h-[300px] w-[500px] bg-white p-6">

                    <div class="w-full flex items-center">
                        <div class="flex items-center justify-center bg-orange-500 w-6 h-6 text-white font-extrabold">
                            4
                        </div>
                        <div class="text-2xl ml-4 text-gray-800">communication</div>
                    </div>

                    <div class="mt-10 w-full flex">

                        <div class="w-40 h-40 bg-gray-200 border-4 border-indigo-500 flex justify-center p-4">
                            <div class="w-36 mt-4 h-16 bg-indigo-500 text-center text-white">

                                <div class="font-semibold">task #325</div>

                                <div class="ml-20 mt-4 w-12 h-12 flex">
                                    <img class="w-12 h-12 flex items-center justify-center" src="../../../../../public/img/icon/comments.svg">
                                </div>

                            </div>
                        </div>

                        <div class="w-60 h-48 ml-12 bg-gray-200 border-4 border-indigo-500 flex flex-col">
                            <div class="w-full h-12 bg-white flex items-center p-2">
                                <div class="flex items-center justify-center bg-red-500 w-6 h-6 text-white font-extrabold">
                                    ?
                                </div>
                                <div class="text-2xl ml-4 text-gray-800">discussions</div>
                            </div>

                            <div class="w-full h-full bg-white p-6">
                                <div class="w-full bg-gray-200 flex justify-start">
                                    <div>
                                        <img class="w-12 h-12 flex items-start justify-start" src="../../../../../public/img/icon/user3.svg">
                                    </div>
                                    <div class="ml-2 mt-4">
                                        <span>I can help u</span>
                                    </div>
                                </div>
                            </div>

                            <div class="w-full bg-white self-end py-2 px-6 flex justify-between">
                                <div>thx <span class="animate-ping">|</span></div>
                                <div>
                                    <img class="w-8" src="../../../../../public/img/icon/send.svg">
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>


</template>

<style scoped>

</style>
