<script setup>

import ApplicationLogo from "@/Components/ApplicationLogo.vue";
</script>

<template>
    <div class="w-32">
        <ApplicationLogo></ApplicationLogo>

        Test Dev vue
    </div>
</template>

<style scoped>

</style>
