<script setup>
import { Link, useForm } from '@inertiajs/vue3';
import ApplicationLogo from "@/Components/ApplicationLogo.vue";

defineProps({
    canResetPassword: {
        type: Boolean,
    },
    status: {
        type: String,
    },
    errors: {
        type: Object
    }
});

const form = useForm({
    email: '',
    password: '',
    remember: false,
});

const submit = () => {
    form.post(route('login'), {
        onFinish: () => form.reset('password'),
    });
};
</script>

<template>
    <div class="w-full min-h-screen flex items-center justify-center bg-gray-200">
        <div class="container p-8 bg-white w-[30em] h-[35em] rounded-2xl border-4 border-gray-300">
            <div class="flex items-center justify-start">
                <div class=" flex items-center justify-center">
                    <ApplicationLogo class="w-14"></ApplicationLogo>
                </div>
                <div class="text-5xl text-center ml-20">
                    <span>Log </span>
                    <span class="text-orange-700 font-bold">In</span>
                </div>
            </div>

            <div class="mt-20">
                <form @submit.prevent="submit">
                    <div class="mb-4">
                        <label for="email" class="block text-lg text-gray-700 font-semibold mb-2">Email</label>
                        <input v-model="form.email" type="email" name="email" id="email" class="w-full p-2 border border-gray-300 rounded" placeholder="Enter your email">
                        <div v-if="errors.email" class="text-red-600 text-sm">{{errors.email}}</div>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="block text-lg text-gray-700 font-semibold mb-2">Password</label>
                        <input v-model="form.password" type="password" name="password" id="password" class="w-full p-2 border border-gray-300 rounded" placeholder="Enter your password">
                        <div v-if="errors.password" class="text-red-600 text-sm">{{errors.password}}</div>
                    </div>
                    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded font-semibold">Sign In</button>
                    <div class="flex items-center justify-between mt-6">
                        <div class="w-full border-t border-gray-300"></div>
                        <div class="px-3 text-gray-500 font-semibold">OR</div>
                        <div class="w-full border-t border-gray-300"></div>
                    </div>

                    <div class="mt-8 text-xl text-center">
                        Don't have an account? <Link href="/register"><span class="text-blue-700 font-medium">Register</span></Link>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>
