<script setup>
import {Head, Link, useForm} from '@inertiajs/vue3';
import ApplicationLogo from "@/Components/ApplicationLogo.vue";

defineProps({
    errors: {
        type: Object
    }
});

const form = useForm({
    name: '',
    email: '',
    password: '',
    password_confirmation: '',
});

const submit = () => {
    form.post(route('register'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};
</script>

<template>
    <div class="w-full min-h-screen flex items-center justify-center bg-gray-200">
        <div class="container p-8 bg-white w-[30em] min-h-[48em] max-h-[56em] rounded-2xl border-4 border-gray-300">
            <div class="flex items-center justify-start">
                <div class=" flex items-center justify-center">
                    <ApplicationLogo class="w-14"></ApplicationLogo>
                </div>
                <div class="text-5xl text-center ml-10">
                    <span>Regist</span>
                    <span class="text-orange-700 font-bold">ration</span>
                </div>
            </div>

            <div class="mt-20">
                <form>
                    <div class="mb-4">
                        <label for="email" class="block text-lg text-gray-700 font-semibold mb-2">Email</label>
                        <input v-model="form.email" type="text" id="email"
                               class="w-full p-2 border border-gray-300 rounded" placeholder="Enter your email">
                        <div v-if="errors.email" class="text-red-600 text-sm">{{ errors.email }}</div>
                    </div>
                    <div class="mb-4">
                        <label for="name" class="block text-lg text-gray-700 font-semibold mb-2">Name</label>
                        <input v-model="form.name" type="text" id="name"
                               class="w-full p-2 border border-gray-300 rounded" placeholder="Enter your name">
                        <div v-if="errors.name" class="text-red-600 text-sm">{{ errors.name }}</div>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="block text-lg text-gray-700 font-semibold mb-2">Password</label>
                        <input v-model="form.password" type="password" id="password"
                               class="w-full p-2 border border-gray-300 rounded" placeholder="Enter your password">
                        <div v-if="errors.password" class="text-red-600 text-sm">{{ errors.password }}</div>
                    </div>
                    <div class="mb-4">
                        <label for="password_confirmation" class="block text-lg text-gray-700 font-semibold mb-2">Confirm
                            Password</label>
                        <input v-model="form.password_confirmation" type="password" id="password_confirmation"
                               class="w-full p-2 border border-gray-300 rounded" placeholder="Confirm your password">
                        <div v-if="errors.password_confirmation" class="text-red-600 text-sm">
                            {{ errors.password_confirmation }}
                        </div>
                    </div>
                    <button @click.prevent="submit" type="submit"
                            class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded font-semibold">Sign
                        Up
                    </button>
                    <div class="flex items-center justify-between mt-6">
                        <div class="w-full border-t border-gray-300"></div>
                        <div class="px-3 text-gray-500 font-semibold">OR</div>
                        <div class="w-full border-t border-gray-300"></div>
                    </div>

                    <div class="mt-8 text-xl text-center">
                        Do you already have an account?
                        <Link href="/login"><span class="text-blue-700 font-medium">Log In</span></Link>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>
